{% extends "default.twig" %}
{% set show_title = true %}
{% set active_page = "shop" %}
{% set title = "BadBlock" %}
{% set sub_title = "Lier son compte" %}
{% set description = "Lie ton compte BadBlock gratuitement afin d'accéder à toutes les possibilités que peut offrir le site Internet de BadBlock." %}
{% block content %}

    <div class="recharge-content">
        <h4 class="heading heading-bar"><span>Étape {{ step }} / 3</span></h4>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--info" style="width:{{ width }}%;"></div>
        </div>
            {% if flash('link_error') %}
                {% for flash in flash('link_error') %}
                    <div class="alert alert-error">
                        {{ flash }}
                        <i class="icon icon-remove"></i>
                    </div>
                {% endfor %}
                <a href="/link" class="button button-danger" type="submit" title="Réessayer">Réessayer</a>
            {% else %}
                {{ block('link_content') }}
        {% endif %}
    </div>
{% endblock %}