{% extends "default.twig" %}
{% set show_title = true %}
{% set active_page = "shop" %}
{% set title = "Rechargez son compte" %}
{% set sub_title = "Rechargez votre compte pour vos prochain achats" %}
{% block content %}
    <div class="shop-summary">
        <div class="shop-summary-icon">
            <i class="icon-info-sign icon"></i>
        </div>
        <div class="shop-summary-text">
            {{ 'shop.summary'|trans }}
        </div>
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info" style="width:{{ width }}%;"></div>
    </div>

    <div class="recharge-content">
        <h4 class="heading heading-bar"><span>{{ ('shop.recharge_step_' ~ step )|trans }}</span></h4>
        {{ block('recharge_content') }}
        {#<button class="button button-danger recharge-next">Suivant</button>#}
    </div>
{% endblock %}