<div class="sidebar">
    <h4 class="heading heading-bar"><span>Serveur Minecraft</span></h4>
    <a title="Télécharger le Launcher Minecraft Gratuit" href="/launcher-minecraft" class="button button-success"><i
                class="fas fa-download"></i> Télécharger le launcher</a>
    <a title="Jouer au Serveur Minecraft BadBlock" class="button button-info" href="/jouer"><i
                class="fas fa-gamepad"></i> Jouer au Serveur Minecraft</a>
    <h4 class="heading heading-bar"><span> Informations</span></h4>
    <a class="button button-primary" id="recrutement-button" href="https://badblock.fr/forum/recrutement/"
       title="Recrutements de BadBlock"><span><i class="far fa-file-alt"></i> Les Recrutements</span></a>
    <a class="button button-success" id="staff-button" href="/staff" title="Staff de BadBlock"><span><i
                    class="fas fa-sitemap"></i> Le Staff</span></a>
    <a class="button button-info" id="devblog-button" href="https://badblock.fr/forum/devblog/"
       title="DevBlog de BadBlock"><span><i class="far fa-file-code"></i> Le DevBlog</span></a>
    <h4 class="heading heading-bar"><span> Communauté</span></h4>
    <a class="button button-primary button-ts" href="ts3server://ts.badblock.fr?port=9987&amp;addbookmark=BadBlock"
       title="Accéder au serveur TeamSpeak du serveur Minecraft"><i class="fas fa-microphone"></i> ts.badblock.fr</a>
    <iframe src="https://discordapp.com/widget?id=344112762722451456&amp;theme=dark" allowtransparency="true"
            height="500" frameborder="0"></iframe>
    <h4 class="heading heading-bar"><span> Réseaux sociaux</span></h4>
    <iframe id="twitter-widget-0" scrolling="no" allowtransparency="true"
            class="twitter-follow-button twitter-follow-button-rendered"
            style="position: static; visibility: visible; height: 20px;" title="Twitter Follow Button"
            src="https://platform.twitter.com/widgets/follow_button.e3b990b7e531827c037f99a1729ae5db.fr.html#dnt=false&amp;id=twitter-widget-0&amp;lang=fr&amp;screen_name=BadBlockGame&amp;show_count=true&amp;show_screen_name=false&amp;size=m&amp;time=1545067257448"
            data-screen-name="BadBlockGame" frameborder="0"></iframe>
    <a class="button button-primary button-twitter" href="https://twitter.com/BadblockGame"
       title="Twitter du serveur Minecraft"><i class="fab fa-twitter"></i> Notre Twitter</a>
    <a class="button button-primary button-facebook" href="https://facebook.com/BadblockGame"
       title="Facebook du serveur Minecraft"><i class="fab fa-facebook-f"></i> Notre Facebook</a>
    <a class="button button-primary button-youtube" href="https://www.youtube.com/channel/UCQGBfKWLa88_pQVHdCJbuIw"
       title="YouTube du serveur Minecraft"><i class="fab fa-youtube"></i> Notre chaîne Youtube</a>
</div>