#THIS IS .env EXAMPLE FILE PLEASE COPY IT TO .env FILE AND FILL IT BY YOUR ENV VALUES FOR RUN APP

APP_NAME=badblock-website
APP_ENV_NAME=demo
APP_DEBUG=true
APP_LOG_LEVEL=DEBUG

TWIG_CACHE=false

FORUM_URL=https://dev-forum.badblock.fr
XENFORO_API_ENDPOINT=https://dev-forum.badblock.fr/api.php
XENFORO_API_HASH=SKiaGWKSRojFBJaLjZbtSox4QWpRFfkS

REDIS_HOST=node02-dev.cluster.badblock-network.fr:6379
REDIS_PASSWORD=axESWwAqaJV228HcYDPu4RWEFvAvJtXS
REDIS_PORT=6379

MYSQL_HOST=node01-dev.cluster.badblock-network.fr
MYSQL_PORT=3306
MYSQL_DATABASE=site
MYSQL_USERNAME=site
MYSQL_PASSWORD=BmeKjvemZE0TLDK3

MONGO_HOST=node02-dev.cluster.badblock-network.fr
MONGO_PORT=27017
MONGO_USERNAME=dev
MONGO_PASSWORD=VAQyVRregUwde5QUP7CVv15tZ7S5OwyC