
{% extends 'macros/recharge.twig' %}
{% block recharge_content %}
    <script src="//api.dedipass.com/v1/pay.js"></script>

    <div data-dedipass="95576b4b99c5d76e20319817e24761ae" data-dedipass-custom=""></div>

{% endblock %}