{% extends "default.twig" %}
{% set description = "Recharge ton compte sur BadBlock très simplement avec le service Dedipass pour payer par SMS, Appel ou NeoSurf pour pouvoir profiter des nouvelles opportunités sur BadBlock." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row d-align">
                    <div class="col-12 col-md-8">
                        <div class="recharge-info">
                            <img src="https://cdn.badblock.fr/boutique/paypal.png" alt="PayPal" title="PayPal">
                            <img src="https://cdn.badblock.fr/boutique/smsplus.png" alt="SMS" title="SMS">
                            <img src="https://cdn.badblock.fr/boutique/paysafe.png" title="PaySafecard" alt="PaySafecard">
                            <img src="https://cdn.badblock.fr/boutique/mastercard%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/cb%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/visa%20logo.png" title="Visa" alt="Visa">
                        </div>
                    </div>
                    <a class="button button-success solde-button" title="Solde actuel de mon compte"><i
                                class="fas fa-user"></i> Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}


{% block content %}
<!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Obtenir + de points boutique</span></h4>
    <div class="row step">
        <div class="col-12 col-md-3">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-recharge btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/shop/recharge/step-2">
                <input class="tab-top btn-recharge btn" type="button" name="bt2" value="Méthode" />
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/shop/recharge/step-paypal">
                <input class="tab-top btn-recharge btn" type="button" name="bt3" value="Combien de points ?" />
            </a>
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn btn-recharge disabled" type="button" name="bt4" value="Validation"  />
        </div>
    </div>
    <div data-dedipass="95576b4b99c5d76e20319817e24761ae" data-dedipass-custom=""></div>
    <script src="//api.dedipass.com/v1/pay.js"></script>
    
{% endblock %}

