{% extends "default.twig" %}
{% set description = "Recharge ton compte sur BadBlock très simplement avec le service PayPal pour payer par carte bancaire ou solde PayPal pour pouvoir profiter des nouvelles opportunités sur BadBlock." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="https://images.badblock.fr/i/paypal.png" alt="PayPal" title="PayPal">
                        <img src="https://images.badblock.fr/i/smsplus.png" alt="SMS" title="SMS">
                        <img src="https://images.badblock.fr/i/paysafe.png" title="Paysafecard" alt="Paysafecard">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" title="Carte bancaire" alt="Carte bancaire" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" title="Carte bancaire" alt="Carte bancaire" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" title="Visa" alt="Visa" style="width: 7%">
                    </div>
                    <a class="button button-primary solde-button" title="Solde actuel de mon compte"><i class="fas fa-user"></i>  Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" title="Recharger mon compte" class="button"><i class="icon-value-coins icon"></i>Obtenir + de points boutique</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->
    
    <h4 class="heading-bar recharge-heading"><span>Recharger mon compte</span></h4>
    <div class="row center">
        <div class="three columns">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="three columns">
            <a href="/shop/recharge/step-2">
                <input class="tab-top btn" type="button" name="bt2" value="Mode de paiement" />
            </a>
        </div>
        <div class="three columns">
            <a href="/shop/recharge/step-paypal">
                <input class="tab-top btn" type="button" name="bt3" value="Somme" />
            </a>
        </div>
        <div class="three columns">
            <input class="tab-top btn disabled" type="button" name="bt4" value="Validation"  />
        </div>

    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 75%;"></div>
    </div>
    <br>

    <h5 id="somme">Combien de points boutique souhaites-tu ?</h5>
    <div class="row center">
       <div class="three columns small-offer">
            <h6 class="h6-small">1 500 points boutique<br>
            Bonus +0</h6><br>
           <span class="info">Équivalent de 5€</span>
            <a href="/shop/recharge/paypal/0" class="button button-primary small-offer-btn" target="_blank" title="Choisir (1 500 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">3 000 points boutique<br>
            10€<br>
            Bonus +0</h6><br>
            <a href="/shop/recharge/paypal/1" class="button button-primary small-offer-btn" target="_blank" title="Choisir (3 000 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">5 400 points boutique<br>
            15€<br>
            Bonus +900</h6><br>
            <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
            <a href="/shop/recharge/paypal/2" class="button button-primary small-offer-btn" target="_blank" title="Choisir (5 400 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">7 800 points boutique<br>
            20€<br>
            Bonus +1 800</h6><br>
            <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
            <a href="/shop/recharge/paypal/3" class="button button-primary small-offer-btn" target="_blank" title="Choisir (7 800 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
    </div>
    <div class="row center top-medium">
        <div class="four columns medium-offer">
            <h6 class="h6-medium">11 400 points boutique<br>
            30€<br>
            Bonus +2 400</h6><br>
            <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
            <a href="/shop/recharge/paypal/4" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (11 400 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-medium">18 300 points boutique<br>
            50€<br>
            Bonus +3 300</h6><br>
            <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
            <a href="/shop/recharge/paypal/5" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (18 300 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-medium">34 200 points boutique<br>
            100€<br>
            Bonus +4 200</h6><br>
            <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
            <a href="/shop/recharge/paypal/6" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (34 200 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
        </div>
    </div>
    <div class="row center big-offer promotion-border top-big">
        <h6 class="h6-big">85 000 points boutique<br>
        250€<br>
        Bonus +30 000</h6><br>
        <span class="info hidden-text">Bonus déjà inclus dans la somme affichée</span>
        <a href="/shop/recharge/paypal/7" class="button button-primary big-offer-btn" target="_blank" title="Choisir (85 000 points boutique)"><i class="fas fa-check"></i>  Choisir</a>
    </div>
<!--    Les paiements par PayPal sont désactivés pour le moment. Nous règlons quelques petits soucis avec le système de rechargement par PayPal sur le nouveau site.
        Tu pourras recharger ton compte par PayPal très prochainement (dans un jour maximum). Je t'invite cependant à recharger ton compte par SMS, par Appel, par NeoSurf ou par PaySafecard (cartes de recharges trouvables dans un bar-tabac)
    !-->
{% endblock %}

