{% extends "default.twig" %}
{% set description = "Recharge ton compte sur BadBlock très simplement avec le service PayPal pour payer par carte bancaire ou solde PayPal pour pouvoir profiter des nouvelles opportunités sur BadBlock." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="https://cdn.badblock.fr/wd/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="https://images.badblock.fr/i/paypal.png" alt="PayPal" title="PayPal">
                        <img src="https://images.badblock.fr/i/smsplus.png" alt="SMS" title="SMS">
                        <img src="https://images.badblock.fr/i/paysafe.png" title="Paysafecard" alt="Paysafecard">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" title="Carte bancaire" alt="Carte bancaire" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" title="Carte bancaire" alt="Carte bancaire" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" title="Visa" alt="Visa" style="width: 7%">
                    </div>
                    <a class="button button-primary solde-button" title="Solde actuel de mon compte"><i class="fas fa-user"></i>  Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" title="Recharger mon compte" class="button"><i class="icon-value-coins icon"></i>Obtenir + de points boutique</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Obtenir + de points boutique</span></h4>
    <div class="row center">
        <div class="three columns">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="three columns">
            <a href="/shop/recharge/step-2">
                <input class="tab-top btn" type="button" name="bt2" value="Méthode" />
            </a>
        </div>
        <div class="three columns">
            <a href="/shop/recharge/step-paypal">
                <input class="tab-top btn" type="button" name="bt3" value="Combien de points ?" />
            </a>
        </div>
        <div class="three columns">
            <input class="tab-top btn disabled" type="button" name="bt4" value="Validation"  />
        </div>

    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 75%;"></div>
    </div>
    <br>

    <h5 id="somme">Combien de points boutique souhaites-tu ?</h5>
    * Les bonus incluent également l'augmentation exponentielle du nombre de points boutique par achat pour les plus grosses offres.<br /><br />
    <div class="row center">
       <div class="three columns small-offer">
           <h6 class="h6-small"><i><strike>1 500</strike></i> 1 875 points boutique<br></h6><br>
           <span class="info hidden-text"><br>Équivalent de 5€<br></span>
           <a href="/shop/recharge/paypal/0" class="button button-primary small-offer-btn" target="_blank" title="Choisir (1 500 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small"><i><strike>3 000</strike></i> 3 750 points boutique<br></h6><br>
             <span class="info hidden-text"><br>Équivalent de 10€<br></span>
            <a href="/shop/recharge/paypal/1" class="button button-primary small-offer-btn" target="_blank" title="Choisir (3 000 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small"><i><strike>5 400</strike></i> 6 750 points boutique<br></h6><br>
            Bonus +2 250<br>
            <span class="info hidden-text">Bonus inclus - Équivalent de 15€</span>
            <a href="/shop/recharge/paypal/2" class="button button-primary small-offer-btn" target="_blank" title="Choisir (5 400 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small"><i><strike>7 800</strike></i> 9 750 points boutique<br></h6><br>
            Bonus +3 750<br>
            <span class="info hidden-text">Bonus inclus - Équivalent de 20€</span>
            <a href="/shop/recharge/paypal/3" class="button button-primary small-offer-btn" target="_blank" title="Choisir (7 800 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
    </div>
    <div class="row center top-medium">
        <div class="four columns medium-offer">
            <h6 class="h6-small"><i><strike>11 400</strike></i> 14 250 points boutique<br></h6><br>
            Bonus +5 250<br>
            <span class="info hidden-text">Bonus inclus - Équivalent de 30€</span>
            <a href="/shop/recharge/paypal/4" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (11 400 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-small"><i><strike>18 300</strike></i> 22 875 points boutique<br></h6><br>
            Bonus +7 875<br>
            <span class="info hidden-text">Bonus inclus - Équivalent de 50€</span>
            <a href="/shop/recharge/paypal/5" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (18 300 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-small"><i><strike>34 200</strike></i> 42 750 points boutique<br></h6><br>
            Bonus +12 750<br>
            <span class="info hidden-text">Bonus inclus - Équivalent de 100€</span>
            <a href="/shop/recharge/paypal/6" class="button button-primary medium-offer-btn" target="_blank" title="Choisir (34 200 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
        </div>
    </div>
    <div class="row center big-offer promotion-border top-big">
        <h6 class="h6-small"><i><strike>85 000</strike></i> 106 250 points boutique<br></h6>
        <br>Bonus +51 250<br></span>
        <span class="info hidden-text">Bonus inclus - Équivalent de 250€</span>
        <a href="/shop/recharge/paypal/7" class="button button-primary big-offer-btn" target="_blank" title="Choisir (85 000 points boutique)"><i class="fas fa-check"></i>  Obtenir</a>
    </div>
<!--    Les paiements par PayPal sont désactivés pour le moment. Nous règlons quelques petits soucis avec le système de rechargement par PayPal sur le nouveau site.
        Tu pourras recharger ton compte par PayPal très prochainement (dans un jour maximum). Je t'invite cependant à recharger ton compte par SMS, par Appel, par NeoSurf ou par PaySafecard (cartes de recharges trouvables dans un bar-tabac)
    !-->
{% endblock %}

