{% extends "default.twig" %}
{% set description = "Rechargement effectué avec succès. Le compte en question a été crédité. Nous te remercions de ton achat." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row d-align">
                    <div class="col-12 col-md-8">
                        <div class="recharge-info">
                            <img src="https://cdn.badblock.fr/boutique/paypal.png" alt="PayPal" title="PayPal">
                            <img src="https://cdn.badblock.fr/boutique/smsplus.png" alt="SMS" title="SMS">
                            <img src="https://cdn.badblock.fr/boutique/paysafe.png" title="PaySafecard" alt="PaySafecard">
                            <img src="https://cdn.badblock.fr/boutique/mastercard%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/cb%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/visa%20logo.png" title="Visa" alt="Visa">
                        </div>
                    </div>
                    <a class="button button-success solde-button" title="Solde actuel de mon compte"><i
                                class="fas fa-user"></i> Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}


{% block content %}
    <!-- Debut success -->
    <div class="row center footer-success">
        <div class="four columns">
    <img src="https://cdn.badblock.fr/upload/checked%20%282%29.png" class="img-succes">
        </div>
        <div class="eight columns">
            <h3>Confirmation du rechargement</h3><br>
            <h4>Félicitations pour ton rechargement. La somme a bien été ajoutée sur le compte en question.</h4><br><br>
            <h6>La facture a été envoyée par mail, tu peux aussi la consulter ici</h6>
                <a href="" title="Télécharger ma facture"><button type="submit" class="button button-success- button-success-recharge"><h5 class="text-success"><i class="fas fa-file"></i>  Télécharger la facture</h5></button></a>
            </form>
        </div>
    </div>
{% endblock %}

