{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}

    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="recharge-back">
        <div class="recharge-container">
            <div class="recharge-content">
                <div class="container recharge-flex">
                    <div class="recharge-info">
                        <img src="{{ base_url() }}/dist/images/paypal.png">
                        <img src="{{ base_url() }}/dist/images/smsplus.png">
                        <img src="{{ base_url() }}/dist/images/paysafecard.png">
                        <img src="https://images.badblock.fr/i/mastercard%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/cb%20logo.png" style="width: 5%">
                        <img src="https://images.badblock.fr/i/visa%20logo.png" style="width: 7%">
                    </div>
                    <div class="recharge-button">
                        <a class="button button-danger" href="{{ path_for('shop.recharge') }}" class="button"><i class="icon-value-coins icon"></i>Recharger mon compte</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->
    
    <h4 class="heading-bar recharge-heading"><span>Recharger mon compte</span></h4>
    <div class="row center">
        <div class="three columns">
            <a href="#pseudo"><input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo" onclick="afficher('pseudo');" /></a>
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt2" value="Mode de paiement" onclick="afficher('mode');" />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt3" value="Somme" onclick="afficher('somme');" />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt4" value="Validation" onclick="afficher('validation');" />
        </div>
        
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 25%;"></div>
    </div>
    <br>

<!-- Début 3ème tab -->
    3e tab
    <h5 id="somme">Quelle somme de points boutique veux-tu ?</h5>
    <div class="row center">
        <div class="three columns small-offer">
            <h6 class="h6-small">1 500 points boutique<br>
            5€<br>
            Bonus +0</h6><br>
            <a class="button button-primary small-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">3 000 points boutique<br>
            10€<br>
            Bonus +0</h6><br>
            <a class="button button-primary small-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">5 400 points boutique<br>
            15€<br>
            Bonus +900</h6><br>
            <a class="button button-primary small-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="three columns small-offer">
            <h6 class="h6-small">7 800 points boutique<br>
            20€<br>
            Bonus +1 800</h6><br>
            <a class="button button-primary small-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
    </div>
    <div class="row center top-medium">
        <div class="four columns medium-offer">
            <h6 class="h6-medium">11 400 points boutique<br>
            30€<br>
            Bonus +2 400</h6><br>
            <a class="button button-primary medium-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-medium">18 300 points boutique<br>
            50€<br>
            Bonus +3 300</h6><br>
            <a class="button button-primary medium-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
        <div class="four columns medium-offer">
            <h6 class="h6-medium">34 200 points boutique<br>
            100€<br>
            Bonus +4 200</h6><br>
            <a class="button button-primary medium-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
        </div>
    </div>
    <div class="row center big-offer promotion-border top-big">
        <h6 class="h6-big">180 000 points boutique<br>
        250€<br>
        Bonus +30 000</h6><br>
        <a class="button button-primary big-offer-btn" onclick="start()"><i class="fas fa-check"></i>  Choisir</a>
    </div>
    
{% endblock %}

