{% extends "default.twig" %}
{% set description = "Deuxième étape pour recharger ton compte sur BadBlock. Choisis le mode de paiement pour créditer ton compte et profite des nouvelles opportunités." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row d-align">
                    <div class="col-12 col-md-8">
                        <div class="recharge-info">
                            <img src="https://cdn.badblock.fr/boutique/paypal.png" alt="PayPal" title="PayPal">
                            <img src="https://cdn.badblock.fr/boutique/smsplus.png" alt="SMS" title="SMS">
                            <img src="https://cdn.badblock.fr/boutique/paysafe.png" title="PaySafecard" alt="PaySafecard">
                            <img src="https://cdn.badblock.fr/boutique/mastercard%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/cb%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/visa%20logo.png" title="Visa" alt="Visa">
                        </div>
                    </div>
                    <a class="button button-success solde-button" title="Solde actuel de mon compte"><i
                                class="fas fa-user"></i> Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Obtenir + de points boutique</span></h4>
    <div class="row step">
        <div class="col-12 col-md-3">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-recharge btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/shop/recharge/step-2">
                <input class="tab-top btn-recharge btn" type="button" name="bt2" value="Méthode" />
            </a>
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn disabled" type="button" name="bt3" value="Combien de points ?" />
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn btn-recharge disabled" type="button" name="bt4" value="Validation"  />
        </div>
    </div>
    <h5 id="mode">Comment veux-tu recharger ton compte ?</h5>
    {% if (codepromo is not empty) %}
        <div class="alert alert-success" role="alert" id="success-alert" style="font-size: 19px;">
            Vous utilisez le code promotionnel {{ codepromo }}. +{{ percentpromo }}% de points boutique sur votre rechargement. Valable 15 minutes.
        </div>
    {% endif %}
    Il suffit de cliquer sur la méthode par laquelle tu veux passer pour obtenir plus de points boutique. Si tu souhaites obtenir des points boutique par <strong>carte bancaire</strong>, c'est possible en cliquant sur <strong>PayPal</strong>. Envoyer un code ou appeler directement est la méthode la plus rapide, mais tu n'auras pas les Bonus que PayPal peut offrir.<br />
    Descends un peu la page pour voir la liste de tous les moyens de recharger ton compte.<br /><br />
    <div class="row">
        <div class="col-12 col-md-6" onclick="window.location='/shop/recharge/step-paypal'" title="Recharger mon compte">
            <div class="paypal">
                <img class="paypal-img" src="https://cdn.badblock.fr/wd/i/paypal.png" class="img-fluid" title="PayPal" alt="PayPal" width="350"><br>
                <img class="master-img" src="https://cdn.badblock.fr/wd/i/cb.png" class="img-fluid" title="Carte bancaire" alt="Carte bancaire" width="350">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="sms">
                <h5 class="text-sms">Envoie CODE par SMS au 83303 et obtiens 1 250 points boutique</h5>
                <small class="info">Équivalent de 4,50€</small><br>
                <form action="/shop/recharge/dedipass-process" method="post" id="code-recu" name="code-recu" class="form-code">
                    <div class="form-group">
                        <input type="text" id="code" name="code" class="form-control" placeholder="Entrer le code reçu ici">
                    </div>
                    <button class="button button-primary shop-recharge-validation-code">Valider</button>
                </form>
            </div>
            <br>
            <div class="d-flex justify-content-start">
                <div class="sms-appel-neosurf" onclick="window.location='/shop/recharge/dedipass'">
                    <h5 class="tel-txt">Par Appel ou par Téléphone Fixe ou Mobile</h5>
                    <img class="smsplus-img" src="https://cdn.badblock.fr/wd/i/sms.png" title="SMS" alt="SMS" width="128">
                </div>
                <div class="paysafecard" onclick="window.location='/shop/recharge/starpass'"><br><br>
                    <img class="paysafe-img" src="https://cdn.badblock.fr/wd/i/paysafecard.png" title="PaySafecard" alt="PaySafecard" width="180">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

