{% extends 'macros/recharge.twig' %}
{% block recharge_content %}
    <form action="{{ path_for('shop.recharge.nextstep') }}" method="get">
        <label for="username">{{ 'shop.your_username'|trans }}</label>
        <input class="c-field" type="text" name="username" value="{{ user.username }}" required>
        <input class="c-field" type="hidden" name="step" value="3" required>
        <button class="button button-danger recharge-next" type="submit">{{ 'shop.next'|trans }}</button>
    </form>
{% endblock %}