{% extends "default.twig" %}
{% set description = "Première étape pour recharger ton compte sur BadBlock. Insère le pseudo pour créditer ton compte." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}

{% block cover %}


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Recharger -->

    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row d-align">
                    <div class="col-12 col-md-8">
                        <div class="recharge-info">
                            <img src="https://cdn.badblock.fr/boutique/paypal.png" alt="PayPal" title="PayPal">
                            <img src="https://cdn.badblock.fr/boutique/smsplus.png" alt="SMS" title="SMS">
                            <img src="https://cdn.badblock.fr/boutique/paysafe.png" title="PaySafecard" alt="PaySafecard">
                            <img src="https://cdn.badblock.fr/boutique/mastercard%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/cb%20logo.png" title="Carte bancaire"
                                 alt="Carte bancaire">
                            <img src="https://cdn.badblock.fr/boutique/visa%20logo.png" title="Visa" alt="Visa">
                        </div>
                        </div>
                        <a class="button button-success solde-button" title="Solde actuel de mon compte"><i
                        class="fas fa-user"></i> Solde : {{ points|number_format(0, '', ' ') }} pb</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin recharger -->



{% endblock %}

{% block content %}
<!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Obtenir + de points boutique</span></h4>
    <div class="row step">
        <div class="col-12 col-md-3">
            <a href="/shop/recharge">
                <input class="tab-top btn btn-recharge btn-actif" type="button" name="bt1" value="Pseudo"/>
            </a>
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn disabled" type="button" name="bt2" value="Méthode" />
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn disabled" type="button" name="bt3" value="Combien de points ?" />
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn btn-recharge disabled" type="button" name="bt4" value="Validation"  />
        </div>
    </div>
    {% if error %}
        <div class="alert alert-error">
            {{ error }}
            <i class="icon icon-remove"></i>
        </div>
    {% endif %}
    <div class="row">
        <div class="six columns recharge-bottom">
            <div class="recharge-info">
                Tu peux ici obtenir plus de <i class="fas fa-money-bill-wave"></i> points boutique afin d'obtenir des <strong>Grades</strong>, des <strong>Accès</strong>, des <strong>Clés</strong> et des <strong>Objets</strong> sur la boutique de Badblock.<br>
                    Tu peux obtenir des points boutique par <strong>PayPal (carte bancaire), par SMS, par Appel, par carte prépayée (PaySafeCard / NeoSurf) etc</strong>.<br>
                Pour tout problème rencontré, tu peux <a href="https://badblock.fr/forum/support/open" target="_blank" class="link">ouvrir un ticket</a> ou <a href="mailto:support@badblock.fr" class="link">envoyer un e-mail à support@badblock.fr</a>.
            </div>
        </div>
        <div class="six columns">
            <h5 id="pseudo">Donne-nous le nom de ton compte</h5><br>
            <form action="" method="POST" id="choix-pseudo" name="choix-pseudo" class="recharge-step-1">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Pseudo :</label>
                      <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Entrer le pseudo ici" value="{{ player }}" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label>Code promotionel (optionnel)</label>
                      <input type="text" id="codepromo" class="form-control" name="codepromo"  placeholder="" value="">
                    </div>
                  </div>
                </div>
                <label class="check-recharge">
                    <input type="checkbox" required>
                    <span class="label-body article-checkbox">Conformément à l'<a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000006292052&cidTexte=LEGITEXT000006069565" title="Article L121-20-2" target="_blank">Article L121-20-2</a> du Code de la Consommation française, je m'oppose à mon droit de rétractation en cochant cette case à partir du moment où la commande s'est bien effectuée.</span>
                </label>
                <label class="check-recharge2">
                    <input type="checkbox" required>
                    <span class="label-body article-checkbox">J'accepte les <a href="https://badblock.fr/legals/Conditions_generales_de_vente.pdf" title="Conditions Générales de Vente" target="_blank">Conditions Générales de Vente</a>, les <a href="https://badblock.fr/legals/Conditions_generales_dutilisation.pdf" title="Conditions Générales d'Utilisation" target="_blank">Conditions Générales d'Utilisation</a>, la <a href="https://badblock.fr/legals/Politique_de_confidentialit%C3%A9.pdf" title="Politique de Confidentialité" target="_blank">Politique de Confidentialité</a> et le <a href="https://badblock.fr/forum/règlement" target="_blank" title="Règlement de BadBlock">Règlement de BadBlock</a>.</a></span>
                </label><br><br>
                <button type="submit" class="button button-primary shop-recharge-validation-pseudo">Je veux recharger mon compte</button>
            </form>
        </div>

    </div>
{% endblock %}
