{% set description = "Change ton pseudonyme gratuitement et automatiquement sur BadBlock pour ainsi pouvoir profiter de toutes tes fonctionnalités sur les plateformes de BadBlock." %}
{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'Changer votre pseudo !'|trans %}

{% block cover %}

{% endblock %}
{% block content %}
    <!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Changer votre pseudo</span></h4>
    <div class="row step">
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn btn-actif disabled" type="button" name="bt1" value="Pseudo"/>
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn btn-recharge disabled" type="button" name="bt2" value="Vérification n°1" />
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn disabled" type="button" name="bt3" value="Vérification n°2"  />
        </div>
        <div class="col-12 col-md-3">
            <input class="tab-top btn-recharge btn" type="button" name="bt4" value="Validation"  />
        </div>
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 50%;"></div>
    </div>
    <br>
    {% if error %}
        <div id="err-alert" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <h5>Veuillez taper le code reçu en jeu :</h5>
    <br>
    <form method="post" action="/move" class="recharge-chose-custom">
        <input type="hidden" name="step" value="4">

        <label for="code">Code :</label>
        <div class="form-group">
            <input name="code" class="form-control" type="text" placeholder="FLUORLEBG"
                   id="code" required>
        </div>
        <div class="c-input-group">
            <button class="button button-danger" type="submit">Valider</button>
        </div>
    </form>

    <div class="shop-summary">
        <div class="shop-summary-icon">
            <i class="icon-info-sign icon"></i> Si vous ne recevez pas de message, veuillez ouvrir un ticket sur le Forum.
        </div>
    </div>
{% endblock %}


