{% set description = "Change ton pseudonyme gratuitement et automatiquement sur BadBlock pour ainsi pouvoir profiter de toutes tes fonctionnalités sur les plateformes de BadBlock." %}
{% extends "default.twig" %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'Changer votre pseudo !'|trans %}

{% block cover %}

{% endblock %}
{% block content %}
    <!-- Debut liste paiements -->

    <h4 class="heading-bar recharge-heading"><span>Changer votre pseudo</span></h4>
    <div class="row center">
        <div class="three columns">
            <input class="tab-top btn btn-actif" type="button" name="bt1" value="Pseudo"/>
        </div>
        <div class="three columns">
            <input class="tab-top" type="button" name="bt2" value="Vérification n°1" />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt3" value="Vérification n°2"  />
        </div>
        <div class="three columns">
            <input class="tab-top btn" type="button" name="bt4" value="Validation"  />
        </div>
    </div>
    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info progress-bar" style="width: 100%;"></div>
    </div>
    <br>
    {% if error %}
        <div id="err-alert" class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

{% endblock %}


