{% extends 'macros/link.twig' %}
{% block link_content %}
    <h1>Compte Linké ! </h1>
    <br>
    <h5>Votre compte est désormé linké, vous pouvez profiter de toutes les fonctionnalités du site ! </h5>
{% endblock %}

