/*
http://www.iconshock.com/flat-icons/
 */

.colored-icon {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  background-size: 57px 57px;
}

.user-colored-icon {
  background: url(../colored-icons/user.png) no-repeat;
}

.tchat-colored-icon {
  background: url(../colored-icons/chat_emoticon.png) no-repeat;
}

.game-colored-icon {
  background: url(../colored-icons/games_control.png) no-repeat;
}

.home-colored-icon {
  background: url(../colored-icons/home.png) no-repeat;
}

.shopping_basket-colored-icon {
  background: url(../colored-icons/shopping_basket.png) no-repeat;
}

.offer_badge-colored-icon {
  background: url(../colored-icons/offer_badge.png) no-repeat;
}

.edit-colored-icon {
  background: url(../colored-icons/edit.png) no-repeat;
}

.forum-colored-icon {
  background: url(../colored-icons/forum.png) no-repeat;
}

.stats-colored-icon {
  background: url(../colored-icons/stats_column_chart.png) no-repeat;
}

.list-colored-icon {
  background: url(../colored-icons/list.png) no-repeat;
}