{% set description = "Lie ton compte et accède à toutes les possibilités que te permettent le site Internet de BadBlock. Lier son compte, c'est gratuit." %}
{% extends 'macros/link.twig' %}
{% block link_content %}
    <h1>Compte relié !</h1>
    <br>
    <h5>Ton compte est maintenant relié, tu peux profiter de toutes les fonctionnalités du site ! </h5>
{% endblock %}

