{% set description = "Lie ton compte et accède à toutes les possibilités que te permettent le site Internet de BadBlock. Lier son compte, c'est gratuit." %}
{% extends 'macros/link.twig' %}
{% block link_content %}
    {% if error %}
            <div class="alert alert-error">
                {{ error }}
                <i class="icon icon-remove"></i>
            </div>
    {% endif %}
    <br>
    <h5>Clique sur le lien reçus par message sur le serveur BadBlock.</h5>
    <br>
    <div class="shop-summary">
        <div class="shop-summary-icon">
            <i class="icon-info-sign icon"></i> Si tu ne reçois pas de message sur le serveur avec un code de confirmation, ouvre un ticket sur le Forum.
        </div>
    </div>
{% endblock %}

