{% extends 'macros/link.twig' %}
{% block link_content %}
    <h5>Pour relier votre compte, veuillez vous connecter sur le serveur avec votre pseudo forum exact : {{ user.username }}</h5>
    <h5>Pour se connecter sur le Serveur <a href="/launcher-minecraft" title="Jouer sur BadBlock">cliquez ici !</a> </h5>
    <br>
    <br>
    <form method="post" action="/link" class="recharge-chose-custom">
        <input type="hidden" name="step" value="1">
        <div class="c-input-group">
            <button class="button button-danger" type="submit">Valider</button>
        </div>
    </form>

    <div class="shop-summary">
        <div class="shop-summary-icon">
            <i class="icon-info-sign icon"></i> Si vous ne possédez pas le même pseudo sur le Forum et sur le Jeu, veuillez ouvrir un ticket support et demander un changement de pseudo forum.
        </div>
    </div>
{% endblock %}

