{% extends 'macros/link.twig' %}
{% block link_content %}
    <h1>Compte relié !</h1>
    <br>
    <h5>Votre compte est désormé relié, vous pouvez profiter de tout les fonctionnalits du site ! </h5>
{% endblock %}

