{% extends "default.twig" %}
{% set description = "Obtiens dès maintenant des Grades, des Accès, des Clés ou des Objets sur la boutique de BadBlock pour améliorer drastiquement ton expérience de jeu sur nos serveurs. Résultat garanti." %}
{% set active_page = "shop" %}
{% set show_title = false %}
{% set title = 'shop.title'|trans %}
{% block cover %}
{% endblock %}
    {% block content %}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="promo" role="tabpanel" aria-labelledby="promo-tab">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <h4 class="title-store">Bienvenue sur la boutique de BadBlock</h4>
                        <p>La boutique est en maintenance pour une durée indéterminée.</p>
            </div>


    {% endblock %}
