<div class="content shop" id="ranks">
    <div class="shop-ranks">
        <div class="shop-ranks-header">
            <ul>
                <li>
                    <div class="ranks-card-header default">
                        <p>Liste des <br> avantages</p>
                    </div>
                </li>
                <li>
                    <div class="ranks-card-header" id="rank-3020312">
                        <img src="https://cdn.badblock.fr/boutique/vip.png" title="Grade VIP" alt="Grade VIP">
                        <h3>VIP</h3>
                        <a onclick="confirm('5b71adefb1fe8a85fe31bb4d');">Obtenir <span>1050</span> points <i
                                            class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </li>
                <li>
                    <div class="ranks-card-header" id="rank-3020392">
                        <img src="https://cdn.badblock.fr/boutique/vip+.png" title="Grade VIP+"
                                     alt="Grade VIP+">
                        <h3>VIP+</h3>
                        <a onclick="confirm('5b71af8db1fe8a85fe31bb6d');">Obtenir <span>2250</span> points <i
                                            class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </li>
                <li>
                    <div class="ranks-card-header" id="rank-3020415">
                        <img src="https://cdn.badblock.fr/boutique/mvp.png" title="Grade MVP" alt="Grade MVP">
                        <h3>MVP</h3>
                        <a onclick="confirm('5b71afa9b1fe8a85fe31bb70');">Obtenir <span>4350</span> points <i
                                            class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </li>
                <li>
                    <div class="ranks-card-header" id="rank-3026513">
                        <img src="https://cdn.badblock.fr/boutique/mvp+.png" title="Grade MVP+"
                                     alt="Grade MVP+">
                        <h3>MVP+</h3>
                        <a onclick="confirm('5b71afcab1fe8a85fe31bb76');">Obtenir <span>6900</span> points <i
                                            class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </li>
                <li>
                    <div class="ranks-card-header" id="rank-3026514">
                        <img src="https://cdn.badblock.fr/boutique/legend.png" title="Grade Legend"
                                     alt="Grade Legend">
                        <h3>Legend</h3>
                        <a onclick="confirm('5b71b062b1fe8a85fe31bb84');">Obtenir <span>2100</span> points <i
                                            class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="shop-rank-list">
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Détails du grade
                </div>
                <ul class="right">
                    <li class="details-one">Durée du grade</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>1 mois</li>
                </ul>
                <ul>
                    <li class="details-two">Dépendances</li>
                    <li><i class="fas fa-times"></i></li>
                    <li>VIP</li>
                    <li>VIP+</li>
                    <li>MVP</li>
                    <li>MVP+</li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages généraux
                </div>
                <ul class="right">
                    <li class="details-three">Durée du grade</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>A vie</li>
                    <li>1 mois</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-id-card"></i> Préfixe</li>
                    <li class="center" style="color: #55FFFF"><strong>[VIP]</strong></li>
                    <li class="center" style="color: #55FF55"><strong>[VIP+]</strong></li>
                    <li class="center" id="obsi">[MVP]</li>
                    <li class="center" id="gold">[MVP+]</li>
                    <li class="promotion center">Personnalisable</li>
                </ul>
                <ul class="line-ul">
                    <li class="details-three">Avantages Mini-Jeux</li>
                    <li class="center" style="color: white;">VIP</li>
                    <li class="center" style="color: white;">VIP+</li>
                    <li class="center" style="color: white;">MVP</li>
                    <li class="center" style="color: white;">MVP+</li>
                    <li class="center" style="color: white;">LEGEND</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-credit-card"></i> BadCoins & XP</li>
                    <li class="promotion center">+ 25%</li>
                    <li class="promotion center">+ 50%</li>
                    <li class="promotion center">+ 100%</li>
                    <li class="promotion center">+ 200%</li>
                    <li class="promotion center">+ 400%</li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-chevron-circle-right"></i> Attente prioritaire
                    </li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-users"></i> Accès serveur full</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-angle-double-left"></i> Nouveautés en bêta</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-user-secret"></i> Accès /gnick</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-certificate"></i> Accès /aura</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-eye-dropper"></i> Personnalisation /aura</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-map-pin"></i> Votes de map</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i> x2</li>
                    <li class="center"><i class="fas fa-check"></i> x3</li>
                    <li class="center"><i class="fas fa-check"></i> x4</li>
                    <li class="center"><i class="fas fa-check"></i> x8</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-balance-scale"></i> Kit VIP équilibré</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages Hub
                </div>
                <ul>
                    <li class="details-six"><i class="fas fa-dove"></i> Fly au Hub</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-comment-alt"></i> Couleur des messages</li>
                    <li class="center">Blanc</li>
                    <li class="center">Blanc</li>
                    <li class="center">Blanc</li>
                    <li class="center">Blanc</li>
                    <li class="promotion center">Personnalisable</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-users"></i> Joueurs en groupe</li>
                    <li class="center">5 max</li>
                    <li class="center">8 max</li>
                    <li class="center">12 max</li>
                    <li class="center">16 max</li>
                    <li class="center">32 max</li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-user-plus"></i> Nombre d'amis</li>
                    <li class="center">20 max</li>
                    <li class="center">40 max</li>
                    <li class="center">60 max</li>
                    <li class="center">100 max</li>
                    <li class="center">500 max</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-ban"></i> Limite de messages</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-vial"></i> Multiples jump</li>
                    <li class="center"><i class="fas fa-check"></i> x1</li>
                    <li class="center"><i class="fas fa-check"></i> x2</li>
                    <li class="center"><i class="fas fa-check"></i> x3</li>
                    <li class="center"><i class="fas fa-check"></i> x4</li>
                    <li class="center"><i class="fas fa-check"></i> x8</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-lock-open"></i> Accès zone VIP</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-arrow-right"></i> Notif de bienvenue</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages Survie
                </div>
                <ul>
                    <li class="details-six"><i class="fas fa-plus-square"></i> Chunks Maximum</li>
                    <li class="center">36</li>
                    <li class="center">45</li>
                    <li class="center">54</li>
                    <li class="center">72</li>
                    <li class="center">100</li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-globe"></i> Propriétées maximum</li>
                    <li class="center">3</li>
                    <li class="center">4</li>
                    <li class="center">6</li>
                    <li class="center">7</li>
                    <li class="center">9</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-user"></i> Membres</li>
                    <li class="center">x4</li>
                    <li class="center">x5</li>
                    <li class="center">x6</li>
                    <li class="center">x8</li>
                    <li class="center">x10</li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-filter"></i> Taille de l'enderchest augmentée
                    </li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center">36 slots</li>
                    <li class="center">45 slots</li>
                    <li class="center">54 slots</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-ulash-alt"></i> Accès /ulash</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-chevron-right"></i> Accès /ec</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-location-arrow"></i> Téléportation instantanée</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-location-arrow"></i> Salaires Max</li>
                    <li class="center">1250$</li>
                    <li class="center">1500$</li>
                    <li class="center">1750$</li>
                    <li class="center">2000$</li>
                    <li class="center">2500$</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-location-arrow"></i> Kits /24h</li>
                    <li class="center">Kit VIP</li>
                    <li class="center">Kit VIP+</li>
                    <li class="center">Kit MVP</li>
                    <li class="center">Kit MVP+</li>
                    <li class="center">Kit Légend</li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages Skyblock
                </div>
                <ul>
                    <li class="details-six"><i class="fas fa-credit-card"></i> Shop VIP</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-list"></i> FarmZone VIP</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-plane"></i> /fly</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-backward"></i> /back</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-map-pin"></i> /tpahere</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-hands-helping"></i> /craft</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-plus"></i> Maximum sur l'île</li>
                    <li class="center">5</li>
                    <li class="center">6</li>
                    <li class="center">7</li>
                    <li class="center">8</li>
                    <li class="center">10</li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-search"></i> /near</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-forward"></i> /enderchest</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages Freebuild
                </div>
                <ul class="line-ul">
                    <li class="details-six">Avantages FreeBuild</li>
                    <li class="center" style="color: white;">VIP</li>
                    <li class="center" style="color: white;">VIP+</li>
                    <li class="center" style="color: white;">MVP</li>
                    <li class="center" style="color: white;">MVP+</li>
                    <li class="center" style="color: white;">LEGEND</li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-plus-square"></i> Parcelles au maximum</li>
                    <li class="center">3</li>
                    <li class="center">5</li>
                    <li class="center">7</li>
                    <li class="center">10</li>
                    <li class="center">10</li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-user"></i> ArmorStand</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-globe"></i> Accès WorldEdit</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-flag"></i> /banner</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-flag"></i> Autres</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center">VoxelSniper</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center">GoPaint / GoBrush</li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Avantages Pvpbox
                </div>
                <ul>
                    <li class="details-six"><i class="fas fa-angle-right"></i> Kit Tanky II</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-angle-left"></i> Kit Archer II</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-angle-double-right"></i> Kit Tanky III</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-two"><i class="fas fa-angle-double-left"></i> Kit Archer III</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-user-secret"></i> Kit Invisible</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
            </div>
            <div class="shop-rank-category">
                <div class="ranks-separator">
                    Autres Avantages
                </div>
                <ul>
                    <li class="details-six"><i class="fas fa-id-card-alt"></i> Grade Forum</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-id-card-alt"></i> Grade Discord</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-id-card-alt"></i> Grade Teamspeak</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-map"></i> Salon gradés (TS)</li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-eye-dropper"></i> Grade perso (TS)</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-image"></i> Icône perso (TS)</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-six"><i class="fas fa-lock"></i> Salon perso (TS)</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
                <ul>
                    <li class="details-three"><i class="fas fa-question-circle"></i> Support + (Discord)</li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-times"></i></li>
                    <li class="center"><i class="fas fa-check"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>