{% extends "default.twig" %}
{% set show_title = true %}{% set active_page = "stats" %}
{% set title = "Rechargez son compte" %}
{% set sub_title = "Rechargez votre compte pour vos prochain achats" %}
{% block content %}
    <div class="shop-summary">
        <div class="shop-summary-icon">
            <i class="icon-info-sign icon"></i>
        </div>
        <div class="shop-summary-text">
            La boutique nous permet de payer nos serveurs afin de vous offrir la meilleure expérience de jeu possible. En faisant un achat sur notre plateforme, vous obtiendrez un certain nombre de Crystals que vous pourrez utiliser directement sur notre boutique en ligne afin de vous offrir grades, kits, ... !
        </div>
    </div>

    <div class="c-progress">
        <div class="c-progress__bar c-progress__bar--info" style="width:20%;"></div>
    </div>
{% endblock %}