@keyframes first_ranked{
    0%{background: rgb(59, 64, 180);}
    50%{background: rgb(59, 64, 160);}
    100%{background: rgb(59, 64, 130);}
}

.title-center{
    text-align: center;
}
.vote-input{
    margin-bottom: 20px;
}
.vote-input input{
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px 2px 4px 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 45px;
    padding: 5px 15px 5px 15px;
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.vote-input input:focus{
    box-shadow: 0px 4px 0px rgba(72, 126, 176, 0.8);
    border: solid 1.5px rgba(72, 126, 176, 0.5);
    transition: all 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.center{
    margin-left: 50%;
    transform: translateX(-50%);
}

.rank-header{
    padding: 0px 0px 1px 0;
    background: #E4E4E4;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.rank-header h3{
    padding-top: 10px;
    font-weight: bolder;
    font-size: 32px;
}

.rank-1{
    color: #FFF;
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 120px;
    animation: first_ranked 1s linear infinite alternate both;
}
.rank-1 .rank-number{
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    margin-top: 18px;
}
.rank-1 .rank-username{
    font-size: 24px;
    font-weight: bold;
}
.rank-1 .rank-vote{
    font-size: 16px;
    font-weight: 400;
}

.rank-2{
    background: rgb(59, 116, 180);
    color: #FFF;
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 75px;
}
.rank-2 .rank-number{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 18px;
}
.rank-2 .rank-username{
    font-size: 16px;
    font-weight: bold;
}
.rank-2 .rank-vote{
    font-size: 12px;
    font-weight: 400;
}

.rank-3{
    background: rgb(180, 25, 70);
    color: #FFF;
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 75px;
}
.rank-3 .rank-number{
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 18px;
}
.rank-3 .rank-username{
    font-size: 16px;
    font-weight: bold;
}
.rank-3 .rank-vote{
    font-size: 12px;
    font-weight: 400;
}

.ranking-pair{
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 100%;
    background: #C4C4C4;
}
.ranking-pair .rank-number{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px;
}
.ranking-pair .rank-username{
    font-size: 16px;
}
.ranking-pair .rank-vote{
    font-size: 12px;
}
.ranking-impair{
    padding: 0px 10px 0px 10px;
    height: 60px;
    width: 100%;
    background: #E4E4E4;
}
.ranking-impair .rank-number{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px;
}
.ranking-impair .rank-username{
    font-size: 16px;
}
.ranking-impair .rank-vote{
    font-size: 12px;
}

.ranking-last{
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 5px 5px;
}

.vote-button{
    margin-top: 21px;
}

.server-list h4{
    text-align: center;
    font-weight: bold;
    color: #FFF;
}
.server-list{
    border-radius: 5px;
    margin-top: 21px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url("https://cdn.badblock.fr/wd/i/cover-back-1.png");
    background-size: cover;
}
.servers button{
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 5px;
}
.servers button img{
    width: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 640px) {

    .no-padding-mobile-left{
        padding-left: 0px;
    }
    
    .no-padding-mobile-right{
        padding-right: 0px;
    }

}
@media screen and (max-width: 640px) {

    .no-padding-mobile-left{
        padding-left: -15px;
    }

    .no-padding-mobile-right{
        padding-right: -15px;
    }

}

.btn-circle.btn-xl {
    padding: 10px 16px;
    width: 100%;
    height: 100%;
    border-radius: 50%
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: dimgrey;
}

.btn-circle:hover {
    background-color: #1b6d85;
    opacity: 100 !important;
}