{% extends "default.twig" %}
{% set description = "Informations du développement du Site Internet de BadBlock." %}
{% set active_page = "home" %}
{% set show_title = false %}
{% set title = 'Informations' %}
{% block content %}
    <div class="content" id="dev-infos">
        <section>
            <header><h4 class="heading-bar"><span>Les développeurs du site</span></h4></header>
            <div class="dev-informations">
               <div class="row">
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Hooki_/96.png" alt="Tête de Hooki_" title="Tête de Hooki_">
                            <div class="dev-name">Hooki</div>
                            <span>Développeur Front-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Développer le site de BadBlock c'est un peu comme manger une dinde de noël, c'est bon."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Hooki"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Hooki"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Hooki"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Fluor/96.png" alt="Tête de Fluor" title="Tête de Fluor">
                            <div class="dev-name">Fluor</div>
                            <span>Responsable &amp; Développeur Back-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Je viens de Toulouse, Toulouse c'est bien mais Fortnite c'est mieux."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Fluor"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Fluor"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Fluor"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Dreaams/96.png" alt="Tête de Dreaams" title="Tête de Dreaams">
                            <div class="dev-name">Dreaams</div>
                            <span>Développeur Front-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Je crois en Dieu, enfin pas tous, juste Hooki, lui il est parfait."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Dreaams"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Dreaams"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Dreaams"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div>
        </section>

        <section class="dev-second">
            <div class="dev-informations">
                <div class="row">
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Latitchips/48.png" alt="Tête de Latitchips" title="Tête de Latitchips">
                            <div class="dev-name">Latitchips</div>
                            <span>Fondateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/xMalware/48.png" alt="Tête de xMalware" title="Tête de xMalware">
                            <div class="dev-name">xMalware</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Galaxou/48.png" alt="Tête de Galaxou" title="Tête de Galaxou">
                            <div class="dev-name">Galaxou</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Gastbob40/48.png" alt="Tête de Gastbob40" title="Tête de Gastbob40">
                            <div class="dev-name">Gastbob40</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/MrtomDev/48.png" alt="Tête de MrtomDev" title="Tête de MrtomDev">
                            <div class="dev-name">MrtomDev</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/StonMine/48.png" alt="Tête de StonMine" title="Tête de StonMine">
                            <div class="dev-name">StonMine</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/LeFuturiste/48.png" alt="Tête de LeFuturiste" title="Tête de LeFuturiste">
                            <div class="dev-name">LeFuturiste</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                </div>

                <div class="row">
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/micro_maniaque/48.png" alt="Tête de micro_maniaque" title="Tête de micro_maniaque">
                            <div class="dev-name">micro_maniaque</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Plume/48.png" alt="Tête de Plume" title="Tête de Plume">
                            <div class="dev-name">Plume</div>
                            <span>Illustratrice</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Sizas/48.png" alt="Tête de Sizas" title="Tête de Sizas">
                            <div class="dev-name">Sizas</div>
                            <span>Administrateur</span>
                        </header>
                    </div>

                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/LeLanN/48.png" alt="Tête de LeLanN" title="Tête de LeLanN">
                            <div class="dev-name">LeLanN</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                </div>

                <p class="text-center">Un site de cette taille ce n'est pas seulement des développeurs, c'est aussi <strong>le staff de BadBlock</strong> et <strong>Vous</strong> ! Membre actif du serveur, qui avec vos remarques, vous avez permit l'évolution constante de notre plateforme. GG à vous !</p>

            </div>
        </section>

    	<!-- <h4 class="heading-bar"><span>Informations sur le site</span></h4>
    	<h5>La v.2 du site de BadBlock a été développée par une équipe composée de plusieurs membres. Grâce à des frameworks et à plusieurs mois de travail, le nouveau site de BadBlock est tel que vous le voyez aujourd'hui. De nouvelles fonctionnalités ont été ajoutées afin de permettre aux futurs utilisateurs une expérience unique aussi bien en jeu que sur toutes les plateformes de Badblock.</h5>
        <h6>Pour comprendre cette page, il faut savoir que le "FrontEnd" c'est la partie visuelle du site, et le "BackEnd" est la partie qu'aucun joueur ne voit, qui permet de faire fonctionner le site. Pour une situation comparable, le Front est la partie visible de l'iceberg et le Back la partie immergée de celui-ci.</h6>
    	<br>
        <h4 class="heading-bar"><span>Développeurs</span></h4>

        <div class="staff">
            <ul class="players-list">
                <li class="dev-card">
                	<img src="https://cdn.badblock.fr/head/Latitchips/64.png" alt="Latitchips" title="Latitchips" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Latitchips</span>
                        <span class="players-list-summary">Fondateur</span>
                        <span class="players-list-twitter"><a href="https://twitter.com/latitchips" rel="nofollow"  class="players-list-twitter" target="_blank" rel="nofollow"><i class="fab fa-twitter"></i> Twitter</a></span>
                        <span>Sans lui, aucune des 1.3 millions modifications n'auraient pu être envisageables.</span> 
                    </div>
                    <br>
                </li>
                <li class="dev-card">
                    <img src="https://cdn.badblock.fr/head/xMalware/64.png" alt="Tête de xMalware" title="Tête de xMalware" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">xMalware</span>
                        <span class="players-list-summary">Administrateur</span>
                        <span class="players-list-twitter"><a href="https://twitter.com/xmalwaremc" title="Twitter de xMalware" class="players-list-twitter" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></span>
                        <span>Les nombreuses critiques données ont pu améliorer le site dans tous ses aspects. Il a notamment travaillé sur le lien entre le site et le serveur, quelques codes et notamment sur le référencement.</span>
                    </div>
                </li>
                <li class="dev-card">
                    <img src="https://cdn.badblock.fr/head/Fluor/64.png" alt="Tête de Fluor" title="Tête de Fluor" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Fluor</span>
                        <span class="players-list-summary">Responsable & Développeur BackEnd</span>
                        <span class="players-list-twitter"><a href="" class="players-list-twitter" title="Twitter de Fluor" rel="nofollow"  target="_blank"><i class="fab fa-twitter"></i> Twitter</a></span>
                        <span>Fluor a travaillé sur une très grosse partie du site, et a donc le mérite de l'avoir réalisé, notamment la partie Back non visible.</span>
                    </div>
                </li>
                <li class="dev-card">
                    <img src="https://cdn.badblock.fr/head/Hooki_/64.png" alt="Tête de Hooki_" title="Tête de Hooki_" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Hooki_</span>
                        <span class="players-list-summary">Développeur FrontEnd</span>
                        <span class="players-list-twitter"><a href="https://twitter.com/ohooki_" rel="nofollow" title="Twitter de Hooki_" class="players-list-twitter" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></span>
                        <span>Développeur aguerri Front, il a fait une grosse partie de l'aspect visuel du site.</span>
                    </div>
                </li>
                <li class="dev-card">
                    <img src="https://cdn.badblock.fr/head/Dreaams/64.png" alt="Tête de Dreaams" title="Tête de Dreaams" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Dreaams</span>
                        <span><a href="https://twitter.com/dreaamsmc" title="Twitter de Dreaams" class="players-list-twitter" rel="nofollow"  target="_blank"><i class="fab fa-twitter"></i> Twitter</a></span>
                        <span class="players-list-summary">Responsable Communication & Développeur FrontEnd</span>
                        <span>Apprenti développeur Front, Badblock lui a permis d'apprendre beaucoup de choses dans le développement web.</span>
                    </div>
                </li>
            </ul>
        </div>

        <h4 class="heading-bar"><span>Frameworks</span></h4>
        <p>BadBlock a fait le choix d'utiliser <a href="https://www.slimframework.com/" rel="nofollow" title="Slim Framework">Slim</a> pour la partie BackEnd.
<<<<<<< HEAD
        Du côté du FrontEnd, le framework utilisé est <a href="http://getskeleton.com/" rel="nofollow" title="Skeleton">Skeleton</a></p>-->
=======
        Du côté du FrontEnd, le framework utilisé est <a href="http://getskeleton.com/" rel="nofollow" title="Skeleton">Skeleton</a>. BadBlock utilise également la technologie <a title="IPDetector" href="https://ipdetector.info">IPDetector</a> pour certains de ses Services afin de mieux les protéger.</p>
>>>>>>> 9fb5cb759716553233c7a6272de1b72db2b30516
    </div>


{% endblock %}