{% extends "default.twig" %}
{% set description = "Informations du développement du Site Internet de BadBlock." %}
{% set active_page = "home" %}
{% set show_title = false %}
{% set title = 'Informations' %}
{% block content %}
    <div class="content" id="dev-infos">
        <section>
            <header><h4 class="heading-bar"><span>Les développeurs du site</span></h4></header>
            <div class="dev-informations">
               <div class="row">
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Hooki_/96.png" alt="Tête de Hooki_" title="Tête de Hooki_">
                            <div class="dev-name">Hooki</div>
                            <span>Développeur Front-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Développer le site de BadBlock c'est un peu comme manger une dinde de noël, c'est bon."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Hooki"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Hooki"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Hooki"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Fluor/96.png" alt="Tête de Fluor" title="Tête de Fluor">
                            <div class="dev-name">Fluor</div>
                            <span>Responsable &amp; Développeur Back-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Je viens de Toulouse, Toulouse c'est bien mais Fortnite c'est mieux."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Fluor"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Fluor"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Fluor"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Dreaams/96.png" alt="Tête de Dreaams" title="Tête de Dreaams">
                            <div class="dev-name">Dreaams</div>
                            <span>Développeur Front-End</span>
                        </header>
                        <div class="dev-social">
                            <em>"Je crois en Dieu, enfin pas tous, juste Hooki, lui il est parfait."</em>
                            <ul>
                                <li><a href="#" class="dev-ico" title="Twitter de Dreaams"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Instagram de Dreaams"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="dev-ico" title="Email de Dreaams"><i class="fas fa-at"></i></a></li>
                            </ul>
                        </div>
                    </div>
               </div>
            </div>
        </section>

        <section class="dev-second">
            <div class="dev-informations">
                <div class="row">
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Latitchips/48.png" alt="Tête de Latitchips" title="Tête de Latitchips">
                            <div class="dev-name">Latitchips</div>
                            <span>Fondateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/xMalware/48.png" alt="Tête de xMalware" title="Tête de xMalware">
                            <div class="dev-name">xMalware</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Galaxou/48.png" alt="Tête de Galaxou" title="Tête de Galaxou">
                            <div class="dev-name">Galaxou</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Gastbob40/48.png" alt="Tête de Gastbob40" title="Tête de Gastbob40">
                            <div class="dev-name">Gastbob40</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                </div>
                <div class="row">
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/MrtomDev/48.png" alt="Tête de MrtomDev" title="Tête de MrtomDev">
                            <div class="dev-name">MrtomDev</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/StonMine/48.png" alt="Tête de StonMine" title="Tête de StonMine">
                            <div class="dev-name">StonMine</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                    <div class="dev-profil columns four">
                        <header>
                            <img src="https://cdn.badblock.fr/head/LeFuturiste/48.png" alt="Tête de LeFuturiste" title="Tête de LeFuturiste">
                            <div class="dev-name">LeFuturiste</div>
                            <span>Développeur Back-End</span>
                        </header>
                    </div>
                </div>

                <div class="row">
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/micro_maniaque/48.png" alt="Tête de micro_maniaque" title="Tête de micro_maniaque">
                            <div class="dev-name">micro_maniaque</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Plume/48.png" alt="Tête de Plume" title="Tête de Plume">
                            <div class="dev-name">Plume</div>
                            <span>Illustratrice</span>
                        </header>
                    </div>
                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/Sizas/48.png" alt="Tête de Sizas" title="Tête de Sizas">
                            <div class="dev-name">Sizas</div>
                            <span>Administrateur</span>
                        </header>
                    </div>

                    <div class="dev-profil columns three">
                        <header>
                            <img src="https://cdn.badblock.fr/head/LeLanN/48.png" alt="Tête de LeLanN" title="Tête de LeLanN">
                            <div class="dev-name">LeLanN</div>
                            <span>Administrateur</span>
                        </header>
                    </div>
                </div>

                <p class="text-center">Un site de cette taille ce n'est pas seulement des développeurs, c'est aussi <strong>le staff de BadBlock</strong> et <strong>Vous</strong> ! Membre actif du serveur, qui avec vos remarques, vous avez permit l'évolution constante de notre plateforme. GG à vous !</p>
                
            </div>
        </section>
    </div>


{% endblock %}