{% extends "default.twig" %}
{% set active_page = "home" %}
{% set show_title = false %}
{% set title = 'Informations' %}
{% block content %}
    <div class="content" id="test">
    	<h4 class="heading-bar"><span>Informations sur le site</span></h4>
    	<br>
    	<h6>Le site V.2 de BadBlock a été développé par une équipe composé de 3 membres. Grâce au FrameWork Slim et à plusieurs mois de travails , le nouveau site de BadBlock est tel que vous le voyez aujourd'hui. De nouvelles fonctionnalitées ont été ajoutés afin de permettre aux futurs utilisateurs une experience unique aussi bien en jeu que dans les autres aspects du serveur.</h6>
    	<br>
        <h4 class="heading-bar"><span>Les développeurs</span></h4>
        <br>
        <div class="staff ">
            <ul class="players-list">
                <li>
                	<img src="https://guiria.badblock.fr/head/Latitchips/64.png" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Latitchips</span>
                        <span class="players-list-summary">Fondateur</span>
                        <span>Sans lui , aucunes des 1.3 Millions de modifications n'auraient pu être envisageable.</span> 
                    </div>
                    <br>
                </li>
                <li>
                	<img src="https://guiria.badblock.fr/head/Sulfique/64.png" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Sulfique</span>
                        <span class="players-list-summary">Fondateur</span>
                        <span>Notre lumière dans l'obscurité , il a su nous guider à travers les catacombles que représente le développement d'un tel projet.</span> 
                    </div>
                    <br>
                </li>
                <li>
                    <img src="https://guiria.badblock.fr/head/Fluor/64.png" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Fluor</span>
                        <span class="players-list-summary">Responsable & Développeur BackEnd</span>
                        <span>Grâce a ses talents innés pour la création de site internet , Fluor représente à lui seul le nouveau site de BadBlock.</span>
                    </div>
                </li>
                <li>
                    <img src="https://guiria.badblock.fr/head/le_futuriste/64.png" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">le_futuriste</span>
                        <span class="players-list-summary">Développeur BackEnd&FrontEnd</span>
                        <span>Grand Développeur , le Futuriste n'a jamais faillit devant l'adversité.</span>
                    </div>
                </li>
                <li>
                    <img src="https://guiria.badblock.fr/head/Hooki_/64.png" class="players-list-avatar">
                    <div class="players-list-info">
                        <span class="players-list-username">Hook_</span>
                        <span class="players-list-summary">Développeur FrontEnd</span>
                        <span>Le dernier né de l'équipe de BadBlock , a su , grâce à son talent et sa créativité , rendre le site agréable et chaleureux (avec ses milliers d'animations de flammes cachés tel des EasterEggs).</span>
                    </div>
                </li>
            </ul>
        </div>

        <h4 class="heading-bar"><span>Le Framework & ajouts</span></h4>
        <p>BadBlock a fait le choix d'utiliser <a href="https://www.slimframework.com/">SlimFramework</a> </p>
    </div>


{% endblock %}