{% extends "default.twig" %}
{% set active_page = "play" %}
{% set show_title = false %}
{% set title = 'play.title'|trans %}
{% block content %}
    <div class=" content" id="test">
        <h4 class="heading-bar"><span>Launcher Minecraft</span></h4>
        // Todo : dégager les style=""
        <div class="twelve columns played" style="margin-left: auto; margin-right: auto">
            <div>
                <button class="button button-danger" style="height: 5%; width: 55%;"><i class="fab fa-apple"></i> Télécharger le Launcher Minecraft Gratuit pour Mac OS</button></a>
            </div>
            <div>
                <button class="button button-primary" style="height: 5%; width: 55%;"><i class="fab fa-windows"></i> Télécharger le Launcher Minecraft Gratuit pour Windows</button></a>
            </div>
            <div>
                <button class="button button-success" style="height: 5%; width: 55%;"><i class="fab fa-linux"></i> Télécharger le Launcher Minecraft Gratuit pour Linux</button></a>
            </div>
        </div>
        <h4 class="heading-bar"><span>Notre Serveur</span></h4>
        <div class="twelve columns played">
            <form class="offset-by-three eight columns play-form">
                <label>Nom du serveur</label>
                <input type="text" class="form-control" id="" value="BadBlock" readonly="">
                <label>IP du serveur</label>
                <input type="text" class="form-control" id="to-copy" value="{{ mc_ip }}" readonly="">
            </form>
            <button class="copied" id="copy" ><i class="fa fa-clone" aria-hidden="true" onclick="copied()"></i>Copier l'IP</button>
        </div>
    <div class="twelve columns play">
        <div class="six columns play">
        <section>
            <h4 class="heading-bar"><span>Comment rejoindre Badblock ?</span></h4>
            <div class="play-way-ip">
                <button class="accordion"><i class="fa fa-check" aria-hidden="true"></i>  Version Premium & Version Crackée</button>
                <div class="panel">
                    <p>Lancez Minecraft, rendez-vous dans la partie Multijoueur puis ajoutez un serveur. Indiquez dans les champs à remplir le nom du serveur et l'adresse IP.</p>
                </div>
                <button class="accordion"><i class="fa fa-cogs" aria-hidden="true"></i> Je ne sais pas faire...</button>
                <div class="panel">
                    {% if mc_ip == "eu.badblock.fr" %}
                        <img src="/dist/images/eu.gif" class="how-to-gif" onClick="Javascript:window.open('/dist/images/eu.gif');">
                    {% elseif mc_ip == "na.badblock.fr" %}
                        <img src="/dist/images/na.gif" class="how-to-gif" onClick="Javascript:window.open('/dist/images/na.gif');">
                    {% else %}
                        <img src="/dist/images/play.gif" class="how-to-gif" onClick="Javascript:window.open('/dist/images/play.gif');">
                    {% endif %}
                    <br>
                    <span>Cliquer sur le GIF pour le voir en grand</span>
                </div>
            </div>
        </section>
        </div>
        <div class="six columns play">
        <section>
            <h4 class="heading-bar"><span>Nos Ip de connexions</span></h4>
            <div class="play-list-ip">
                {% if mc_ip == "eu.badblock.fr" %}
                    <input type="submit" id="copy-eu" value="eu.badblock.fr">
                    <br>
                    <input type="submit" id="copy-play" value="play.badblock.fr">
                    <br>
                    <input type="submit" id="copy-na" value="na.badblock.fr">
                {% elseif mc_ip == "na.badblock.fr" %}
                    <input type="submit" id="copy-na" value="na.badblock.fr">
                    <br>
                    <input type="submit" id="copy-eu" value="eu.badblock.fr">
                    <br>
                    <input type="submit" id="copy-play" value="play.badblock.fr">
                {% else %}
                    <input type="submit" id="copy-play" value="play.badblock.fr">
                    <br>
                    <input type="submit" id="copy-eu" value="eu.badblock.fr">
                    <br>
                    <input type="submit" id="copy-na" value="na.badblock.fr">
                {% endif %}

            </div>
        </section>
        </div>
        <div class="twelve columns play">
            <section>
            <h4 class="heading-bar"><span>A propos de badblock</span></h4>
            <div class="play-list-ip">
                <p>
                    Badblock est un serveur Minecraft crée le 8 mars 2013 par Latitchips. Aujourd'hui, le serveur compte une impressionnante communauté composée de milliers de joueurs de tout âge. Notre équipe est à votre service afin de vous rendre le jeu meilleur et de vous divertir tout au long de votre expérience sur Badblock. Vous pouvez nous contacter par de nombreux moyens comme nos réseaux sociaux, notre Teamspeak, notre Forum ou tout simplement en jeu !
                    Toute l'équipe vous souhaite un bon moment de divertissement sur nos plateformes.
                </p>
            </div>
        </section>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    <script type="text/javascript">
        var toCopy  = document.getElementById( 'to-copy' ),
            btnCopy = document.getElementById( 'copy' );

        btnCopy.addEventListener( 'click', function(){
            toCopy.select();
            document.execCommand( 'copy' );
            return false;
        } );
    </script>
{% endblock %}