{% set title = 'Jouer à BadBlock' %}
{% set description = "Serveur Minecraft Gratuit. Joue dès maintenant à BadBlock avec tes amis et profite de jeux divertissants gratuitement. C'est facile et tu y passes un bon moment. IP : play.badblock.fr" %}
{% set show_title = false %}
{% set hide_title = true %}
{% extends "default.twig" %}
{% set active_page = "play" %}
{% block cover %}
<section>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3>Serveur minecraft gratuit</h3>
                        <a href="/launcher-minecraft" class="button button-success"><i class="fas fa-cloud-download-alt"></i> Télécharger le Launcher</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class="content">
    <h4 class="heading heading-bar"><span>Nous rejoindre</span></h4>
    <div class="play-content">
        <div class="play-content-input">
            <h3>Rejoingnez nous ! - Badblock</h3>
            <input class="info-ip" type="text" name="copyIp" id="copyIp" value="{{ mc_ip }}">
            <button id="copy">Cliquez pour copier l'Ip</button>
            <p class="play-desc">Notre serveur est disponible de la version <strong>1.8</strong> à <strong>1.13</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4 class="heading heading-bar"><span>Comment nous rejoindre ?</span></h4>
            <div class="info-content">
                <button class="accordion">J'ai déjà mon compte Minecraft (Crack ou Premium)</button>
                <div class="panel">
                    <p>Lancez Minecraft, rendez-vous dans la partie Multijoueur puis ajoutez un serveur. Indiquez dans les champs à remplir le nom du serveur et l'adresse IP.</p>
                </div>
                <button class="accordion">Je ne sais pas faire...</button>
                <div class="panel">
                    {% if mc_ip == "eu.badblock.fr" %}
                    <img src="https://cdn.badblock.fr/wd/i/eu.gif" alt="Serveur EU BadBlock" title="Serveur EU BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/eu.gif');" width="100%">
                    {% elseif mc_ip == "na.badblock.fr" %}
                    <img src="https://cdn.badblock.fr/wd/i/na.gif" alt="Serveur NA BadBlock" title="Serveur NA BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/na.gif');" width="100%">
                    {% else %}
                    <img src="https://cdn.badblock.fr/wd/i/play.gif" alt="Serveur Play BadBlock" title="Serveur Play BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/play.gif');" width="100%">
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h4 class="heading heading-bar"><span>Toutes nos IP</span></h4>
            {% if mc_ip == "eu.badblock.fr" %}
            <input class="info-ip" type="submit" id="copy-eu" value="eu.badblock.fr">
            <input class="info-ip" type="submit" id="copy-play" value="play.badblock.fr">
            <input class="info-ip" type="submit" id="copy-na" value="na.badblock.fr">
            {% elseif mc_ip == "na.badblock.fr" %}
            <input class="info-ip" type="submit" id="copy-na" value="na.badblock.fr">
            <input class="info-ip" type="submit" id="copy-eu" value="eu.badblock.fr">
            <input class="info-ip" type="submit" id="copy-play" value="play.badblock.fr">
            <input class="info-ip" type="submit" id="copy-play" value="play.badblock.fr">
            <input class="info-ip" type="submit" id="copy-eu" value="eu.badblock.fr">
            <input class="info-ip" type="submit" id="copy-na" value="na.badblock.fr">
            {% else %}
            <input class="info-ip" type="submit" id="copy-eu" value="eu.badblock.fr">
            <input class="info-ip" type="submit" id="copy-play" value="play.badblock.fr">
            <input class="info-ip" type="submit" id="copy-na" value="na.badblock.fr">
            {% endif %}
        </div>
    </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
<script>
var toCopy = document.getElementById('copyIp'),
    btnCopy = document.getElementById('copy');

btnCopy.addEventListener('click', function() {
    toCopy.select();
    document.execCommand('copy');
    return false;
});
</script>
{% endblock %}