{% extends "default.twig" %}
{% set active_page = "launcher-minecraft" %}
{% set show_title = false %}
{% set hide_title = true %}
{% set h2 = true %}
{% set noads = true %}
{% set description = "Télécharger launcher minecraft et lifecraft gratuit, pour les versions Crack et Premium sur PC, de la version 1.8 à la 1.13, optimisé et accessible pour tout le monde. Joue avec tes amis gratuitement." %}
{% set title = 'play.title_meta'|trans %}
{% block cover %}
<section>
    <div class="cover-back">
        <div class="cover cover-profile">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h3>Serveur minecraft gratuit</h3>
                        <a href="/launcher-minecraft" class="button button-success"><i class="fas fa-cloud-download-alt"></i> Télécharger le launcher Minecraft</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<div class=" content" id="test">
    <!-- TODO: CSS !-->
    <h2 class="heading-bar"><span style="color: black;">Lifecraft</span></h2>
    <p>Vous pouvez dès à présent télécharger le dernier Launcher Minecraft Lifecraft accessible pour tous les PC et comprenant toutes <strong>les derni&egrave;res versions de Minecraft (1.8 à 1.13)</strong>. Apr&egrave;s de longues &eacute;tudes du fonctionnement du jeu et de r&eacute;flexion, launcher-minecraft.com, notre prestataire en terme de launchers, nous a&nbsp;pr&eacute;par&eacute; un Launcher BadBlock et Lifecraft <strong>tr&egrave;s optimis&eacute;</strong>, accessible pour les joueurs ayant de vieux ordinateurs ou des personnes qui veulent de la performance avec <strong>Optifine int&eacute;gr&eacute;</strong> dedans et d'autres optimisations qui permettent aujourd'hui &agrave; toute la communaut&eacute; d'en profiter, c'est gratuit. La flexibilit&eacute; du Launcher minecraft comprend une compatibilit&eacute; Lifecraft, une compatibilit&eacute; BadBlock et d'autres jeux et serveurs accessibles. Il est disponible pour tous les&nbsp;joueurs ayant fait l'acquisition de Minecraft et les personnes qui ne peuvent pas se permettre d'acheter le jeu. C'est pourquoi il a &eacute;t&eacute; mis en place et la raison de la proposition de pouvoir le<strong> t&eacute;l&eacute;charger gratuitement, sans aucun frais et installable facilement</strong> afin de <strong>jouer avec tes amis</strong>.&nbsp;Découvrez la liste des meilleurs <a title="Liste des meilleurs serveurs minecraft" href="https://serveur-multigames.net/minecraft">serveur minecraft</a> de France.</p>
    <div class="mosaic" style="width: 75%; margin: 0 auto;">
        <a title="Launcher Minecraft" class="card card-second card-plus no-link" style="border-color: black;" target="_blank" href="https://launcher-minecraft.com/fr/telecharger">
                <div class="card-plus-text" style="text-align: center;">Télécharger pour<br />Mac</div>
                <i class="fab fa-apple"></i>
            </a>
        <a title="Launcher Minecraft" class="card card-second card-plus no-link" target="_blank" href="https://launcher-minecraft.com/fr/telecharger">
                <div class="card-plus-text" style="text-align: center;">Télécharger pour<br />Windows</div>
                <i class="fab fa-windows"></i>
            </a>
        <a title="Launcher Minecraft " class="card card-second card-plus no-link" target="_blank" href="https://launcher-minecraft.com/fr/telecharger">
                <div class="card-plus-text" style="text-align: center;">Télécharger pour<br />Linux</div>
                <i class="fab fa-linux"></i>
            </a>
    </div>
    <p>Les versions&nbsp;se t&eacute;l&eacute;chargent automatiquement d&egrave;s la premi&egrave;re utilisation afin de pouvoir s&eacute;lectionner&nbsp;ta version pr&eacute;f&eacute;r&eacute;e&nbsp;depuis les param&egrave;tres de ce Launcher Minecraft parfaitement synchrone et gratuit avec la demande de la communaut&eacute;. L'objectif est de permettre un usage sur plusieurs serveurs, pour des personnes voulant jouer en solo, en&nbsp;<strong>mode multi-joueur, crack&eacute;, premium, semi-premium</strong> et bien d'autres&nbsp;utilit&eacute;s et utilisations flexibles. Pour les PC de plus petite taille ou de plus grosse taille, il est possible de configurer la RAM (m&eacute;moire vive) allou&eacute;e au jeu Minecraft directement depuis les param&egrave;tres du launcher. Il est également possible d'alterner entre le mode Premium et le mode Crack sans avoir à télécharger deux launchers différents.</p>
    <div class="panel">
        <h2 class="heading-bar"><span style="color: black;">Version premium</span></h2>
        <p>Parfait ! Pour pouvoir te lancer à jouer sur une plateforme de Minecraft optimisée avec ton compte Premium, il suffit simplement de télécharger le Launcher que l'on propose qui permet de se connecter avec son adresse e-mail et mot de passe Mojang (partie gauche du Launcher). Ce launcher ne conserve pas les adresses ni les mots de passes des joueurs (ils sont envoyés uniquement aux serveurs officiels de Minecraft pour vérifier si les identifiants sont valides). Tu pourras ainsi jouer sur tous les serveurs Minecraft de ton choix (comme <a title="Serveur Minecraft BadBlock" href="/jouer" target="_blank">le serveur Minecraft BadBlock</a>). Tu seras redirigé vers le site de notre prestataire.</p>
        <h2 class="heading-bar"><span style="color: black;">Version crack</span></h2>
        <p>Tu n'as pas acheté le jeu Minecraft ? Il n'y a aucun problème à avoir. Le <strong>Launcher minecraft</strong> que l'on propose permet de se connecter gratuitement (partie cracké sur la droite du Launcher) seulement avec un pseudonyme. Tu pourras ainsi jouer sur le serveur Minecraft qui accepte les versions non payées de ton choix (comme le meilleur <a title="Serveur Minecraft BadBlock" href="/jouer" target="_blank">serveur Minecraft</a> de France).</strong></p>
    </div>
    <h3 class="heading-bar"><span style="color: black;">Ajout de mods facile</span></h3>
    <p><strong><img style="display: block; width: 100%; max-width: 824px; height: auto; margin: 0 auto;" src="https://cdn.badblock.fr/wd/i/launcher-minecraft.png" alt="Photo du Launcher Minecraft Lifecraft" /></strong></p>
    <h2 class="heading-bar"><span style="color: black;">Lifecraft</span></h2>
    <p>Vous pouvez ouvrir les param&egrave;tres du Launcher minecraft Lifecraft pour y choisir ce que vous souhaitez comme version ou comme m&eacute;moire vive, pour optimiser votre utilisation et correspondre à tous vos besoins sans devoir télécharger plusieurs plugins, add-ons et d'autres utilitaires complémentaires qui pourraient ne pas être compatibles avec ce launcher Lifecraft universel, simplement en deux clics, en voici un exemple.</p>
    <h2 class="heading-bar"><span style="color: black;">Autres serveurs</span></h2>
    <p style="display: block; margin-bottom: 10%;">
        <img style="display: block; width: 100%; max-width: 318px; height: auto; margin-left: auto; margin-right: 1%;" align="left" src="https://cdn.badblock.fr/wd/i/launcher-minecraft-gratuit.png" alt="Options du Launcher Minecraft" width="318" height="341" />
            Vous pouvez rejoindre tous les serveurs qui respectent les EULA à partir du launcher minecraft proposé par le prestataire en question, dont le responsable est Philip Chalifour. Par ailleurs, ce launcher est compatible avec le serveur premium <a title="Epicube" href="https://launcher-minecraft.com/fr/epicube">Epicube</a> qui est joignable directement avec celui-ci. L'ajout de shaders et de mods autorisés (non-cheat) est possible avec le dossier nommé mods. <strong>Mais pourquoi utiliser ce launcher ?</strong> C'est une bonne question.
        En effet, les mises à jour du jeu Minecraft ne permettent plus à l'heure actuelle de suivre le launcher officiel puisqu'il y a de trop nombreux problèmes d'accessibilité et de pratiques (changement de menus complexes pour activer certaines fonctionnalités, quelques bugs et crashs intempestifs qui empêchent la bonne expérience de jeu sur Minecraft.. Toutes ces choses remettent énormément en question le bon développement de la communauté Minecraft. Le prestataire partenaire, dont nous ne sommes pas responsables des services associés et/ou affiliés, a développé cette plateforme intéressante qui est gratuite d'utilisation et que vous pouvez utiliser dès maintenant, sans plus attendre. Pourquoi s'en priver cette année ?
        <strong>But de découverte.</strong> La plateforme gratuite où vous pouvez acquérir minecraft gratuitement propose ainsi de le faire dans un but de découverte. En effet, cela permet à de nouveaux potentiels joueurs de découvrir le jeu pour après l'adopter et potentiellement acheter le jeu. Il n'y a pas d'encouragement au crack des applications puisque le prestataire affirme la légalité du procédé. Le lanceur ne modifie pas le jeu Minecraft puisqu'il reste le même une fois le pseudo inséré. Vous cherchez sûrement <strong>minecraft launcher</strong> mais vous ne trouvez que des versions officielles qui ne sont pas adaptées à votre demande.. vous êtes tombés sur la bonne page puisque vous trouvez exactement ce que vous recherchez.
        <strong>Égaré dans la lecture ?</strong> Si vous êtes égarés dans la lecture de ce texte descriptif à propos de ce qui est proposé ici, il est possible de remonter pour cliquer sur les boutons de téléchargement du launcher. Vous pourrez ainsi profiter de nombreuses fonctionnalités intéressantes.
    </p>
    <h2 class="heading-bar"><span style="color: black;">Un launcher optimisé pour Lifecraft</span></h2>
    <p>D'autres vieux launchers existaient mais maintenant, depuis la fermeture d'autres serveurs, il n'est plus possible d'utiliser les lanceurs de ces logiciels de jeu pour profiter d'une expérience agréable sur Minecraft. Cela empêche donc des milliers de joueurs de se connecter tous les jours sur le serveur qu'ils préfèrent. Ce problème est fini, puisqu'avec la compatibilité avec les serveurs tels que Lifecraft et Epicube (selon le prestataire du service), il est désormais possible de jouer sans aucune limite au jeu, et tout cela, gratuitement. BadBlock n'est pas responsable du Launcher et n'encourage pas directement les joueurs de Minecraft à l'utiliser. D'ailleurs, BadBlock n'héberge pas les fichiers de launcher directement sur ses serveurs. <br />
        <strong>Un jeu optimisé, ça t'intéresse ?</strong> Passer du vouvoiement au tutoiement, ce n'est pas forcément judicieux généralement. Cependant, la commnunauté Minecraft est une grande famille sur laquelle nous comptons au quotidien pour faire des créations (du développement, du build, construction et bien plus..). Avec ce launcher, vous pouvez vous amuser sur un jeu de type bac à sable sans vous heurter à des limites de fonctionnement. C'est également l'avantage d'un vrai lanceur Minecraft.</p>
    <div class="comments-area">
        <h4 class="heading heading-bar"><span>Avis récents sur le launcher</span></h4>
        <div class="comments-container">
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/flofydech/60.png" alt="flofydech" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">flofydech</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        J'adore ce launcher minecraft ! Je peux facilement me connecter, modérer sur mon serveur favori et jouer sans aucun lag :D Une petite bière deveant le pc puis on lance Minecraft. Quelques heures de jeux sur des serveurs SkyBlock comme BadBlock et vous êtes bien lancé pour try-hard toute votre soirée sans avoir des freezes de partout comme on peut avoir avec le launcher minecraft officiel. C'est vraiment quelque chose qui m'a sauvé la vie parce que ça règle des problèmes d'incompatibilité avec mes drivers qui font planter alors qu'ils sont à jour. Cela ne doit pas être facile de faire ce type de programme bien optimisé et accessible à tout le monde. En tout cas, c'est une réussite ici..
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/Keuth/60.png" alt="Keuth" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">Keuth</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        C'est vraiment bien fait, ça a changé ma façon de jouer à Minecraft et à tous mes serveurs favoris, je recommande fortement à tous mes amis de l'utiliser dès maintenant. Merci beaucoup à toute la communauté d'avoir fait ça. J'ai même envoyé un petit mail pour remercier les développeurs de ce projet, ça m'a permis d'éviter de perdre mon temps à chercher plus longtemps..
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/iTz_WoKiwiq/60.png" alt="iTz_WoKiwiq" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">iTz_WoKiwiq</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        + 100 fps juste en utilisant ce Launcher Minecraft Lifecraft, c'est ouf. Je recommande et je continue de jouer au jeu souvent. En effet, je suis passionné par la construction et tout ce qui englobe l'art. Dans un jeu bac à sable sans lags, c'est vraiment un pur plaisir et une pure joie que de pouvoir profiter pleinement de toutes les fonctionnalités.
                        Je remercie tout le monde pour ce travail titanesque, qui, sans vous, n'aurait pas pu voir le jour. Vous améliorez et développez grandement la communauté des jeux et des serveurs en faisant ça, cette initiative me paraît très bonne et je vous encourage pour le suite.
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/MathieuAR/60.png" alt="MathieuAR" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">MathieuAR</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        Pour un launcher minecraft cracké, je suis impressionné du résultat ! J'ai cherché sur les moteurs de recherche et je suis tombé directement sur cette page, avec une qualité de launcher qui me satisfait pleinemtn. 5 étoiles.
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/Azukie_/60.png" alt="Azukie" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">Azukie_</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        J'étais un peu sceptique au début mais maintenant je n'arrive plus à m'en passer, je l'ai donné à tous mes amis ils adorent ce launcher, c'est vraiment pratique.
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/LordThom/60.png" alt="LordThom" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">LordThom</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        Avant je laggais beaucoup avec mon ancien launcher Minecraft. Je suis passé de 8 FPS à 95 FPS sur des grosses maps, c'est énorme !
                    </div>
                </div>
            </div>
            <div class="comments-item">
                <span class="comments-author-avatar">
                        <img src="https://cdn.badblock.fr/head/xMalware/60.png" alt="xMalware" />
                    </span>
                <div class="comments-content">
                    <div class="comments-title">
                        <span class="comments-author-username">xMalware</span>
                        <span class="comments-info">
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                                <i class="fas fa-star" style="color: #f1c40f;"></i>
                            </span>
                    </div>
                    <div class="comments-text" style="width: 100%;">
                        Ce launcher minecraft est très utile pour changer plus rapidement de version notamment, je le recommande et le développeur est super sympa.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="join-badblock-margin"></div><br />
    <h4 class="heading-bar"><span>Télécharger Minecraft PC</span></h4>
    <p><br />
        Ce <strong>Launcher Minecraft</strong> (Lifecraft et BadBlock) est propulsé par launcher-minecraft.com, launcher <strong>LifeCraft</strong> et BadBlock qui ne détiennent aucun droit de modification sur celui-ci. L'utilisateur, le joueur peut le partager gratuitement à d'autres joueurs, à ses amis par exemple, afin de jouer à plusieurs. Il n'a cependant pas le droit de revendre le logiciel. LifeCraft n'est pas affilié à ce launcher, il est proposé en remplacement à leur launcher populaire qui n'existe plus dorénavant.
        <br /><i>notre* : BadBlock ne détient aucune responsabilité sur le Launcher minecraft en question. Pour plus d'informations, vous serez invité à contacter directement les personnes à l'origine du projet de launcher minecraft. En cas de problème avec le launcher (s'il ne s'ouvre pas par exemple), vous pouvez les contacter sur le site Internet du partenaire. Minecraft n'est pas à l'origine de ce Launcher mais le jeu lui appartient.</i>
    </p>
</div>
<!--
    <script async>
        window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "Vous avez quitté la page sans télécharger notre Launcher Minecraft, êtes-vous sûr de vouloir faire cela ?";
        }
    </script>!-->
<!--
    <script async defer type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b9e472db79400bd"></script>
    !-->
<script async>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
{% endblock %}