{% extends "default.twig" %}
{% set active_page = "launcher-minecraft" %}
{% set show_title = false %}
{% set hide_title = true %}
{% set description = "Télécharger le Launcher Minecraft gratuitement crack et premium en toutes les versions sur Mac pour jouer avec vos amis. Un launcher minecraft 100% optimisé." %}
{% block skyscrapers %}

    <div class="pub-skyscraper-left">
        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="pub-skyscraper-right">
        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}

{% set title = 'play.title_meta'|trans %}
{% block content %}

    <div class=" content" id="test">
        <h4 class="heading-bar"><spanLauncher Minecraft Gratuit Crack & Premium sur Mac</span></h4>
        <div class="pub-large">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="twelve columns played" id="launcher-minecraft">
            <p>Notre <a href="https://launcher-minecraft.com" title="Launcher Minecraft Gratuit">Launcher</a> contient plusieurs versions et une possibilité de le configurer pour tous les ordinateurs.
                Nous avons misé sur l'expérience utilisateur dans le but de rendre propre notre Launcher à tous les joueurs.
                Notre Launcher Minecraft Gratuit est compatible pour les joueurs sur Windows, sur Linux et sur Mac OS.
                Vous pouvez jouer sur n'importe quel serveur supportant les dernières versions de Minecraft (1.8 à 1.11).
                Notre Launcher Minecraft Gratuit est très optimisé et puissant pour les petites configurations d'ordinateurs.
                Notre Launcher est très facile à utiliser et il n'y a pas besoin de payer un compte Minecraft pour jouer.
                Nous avons développé des fonctionnalités modulables pour enrichir votre expérience de jeu Minecraft sur notre Launcher crack et premium.
                Téléchargeable gratuitement, pour tous les usages.</p>
            <div>
                <a href="https://launcher-minecraft.com/" title="Télécharger le Launcher Minecraft gratuit pour Mac">
                    <button class="button button-success" id="minecraft-download-mac">
                        <i class="fab fa-apple"></i> Télécharger le Launcher Minecraft Gratuit pour Mac
                    </button>
                </a>
            </div>
            Propulsé par <a href="https://launcher-minecraft.com" title="Launcher Minecraft Gratuit">launcher-minecraft.com</a>.
        </div>
        <div class="pub-large">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <h4 class="heading-bar"><span>Notre Serveur</span></h4>
        <div class="twelve columns played">
            <form class="offset-by-three eight columns play-form">
                <label>Nom du serveur</label>
                <input type="text" class="form-control" id="" value="BadBlock" readonly="">
                <label>IP du serveur</label>
                <input type="text" class="form-control" id="to-copy" value="{{ mc_ip }}" readonly="">
            </form>
            <button class="copied" id="copy" ><i class="fa fa-clone" aria-hidden="true" onclick="copied()"></i> Copier l'IP</button>
        </div>
        <div class="pub-large">
            <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="1757256897"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div id="join-badblock-margin"></div>
        <div class="twelve columns play">
            <div class="six columns play">
                <section>
                    <h4 class="heading-bar"><span>Comment rejoindre Badblock ?</span></h4>
                    <div class="play-way-ip">
                        <button class="accordion"><i class="fa fa-check" aria-hidden="true"></i>  Version Premium & Version Crackée</button>
                        <div class="panel">
                            <p>Lancez Minecraft, rendez-vous dans la partie Multijoueur puis ajoutez un serveur. Indiquez dans les champs à remplir le nom du serveur et l'adresse IP.</p>
                        </div>
                        <button class="accordion"><i class="fa fa-cogs" aria-hidden="true"></i> Je ne sais pas faire...</button>
                        <div class="panel">
                            {% if mc_ip == "eu.badblock.fr" %}
                                <img src="https://cdn.badblock.fr/wd/i/eu.gif" alt="Serveur EU BadBlock" title="Serveur EU BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/eu.gif');">
                            {% elseif mc_ip == "na.badblock.fr" %}
                                <img src="https://cdn.badblock.fr/wd/i/na.gif" alt="Serveur NA BadBlock" title="Serveur NA BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/na.gif');">
                            {% else %}
                                <img src="https://cdn.badblock.fr/wd/i/play.gif" alt="Serveur Play BadBlock" title="Serveur Play BadBlock" class="how-to-gif" onClick="Javascript:window.open('https://cdn.badblock.fr/wd/i/play.gif');">
                            {% endif %}
                            <br>
                            <span>Cliquer sur le GIF pour le voir en grand</span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="six columns play">
                <section>
                    <h4 class="heading-bar"><span>Nos Ip de connexions</span></h4>
                    <div class="play-list-ip">
                        {% if mc_ip == "eu.badblock.fr" %}
                            <input type="submit" id="copy-eu" value="eu.badblock.fr">
                            <br>
                            <input type="submit" id="copy-play" value="play.badblock.fr">
                            <br>
                            <input type="submit" id="copy-na" value="na.badblock.fr">
                        {% elseif mc_ip == "na.badblock.fr" %}
                            <input type="submit" id="copy-na" value="na.badblock.fr">
                            <br>
                            <input type="submit" id="copy-eu" value="eu.badblock.fr">
                            <br>
                            <input type="submit" id="copy-play" value="play.badblock.fr">
                        {% else %}
                            <input type="submit" id="copy-play" value="play.badblock.fr">
                            <br>
                            <input type="submit" id="copy-eu" value="eu.badblock.fr">
                            <br>
                            <input type="submit" id="copy-na" value="na.badblock.fr">
                        {% endif %}

                    </div>
                </section>
                <section>
            <h4 class="heading-bar"><span>Acheter Minecraft en promotion</span></h4>
            <center>
            <iframe src="https://www.instant-gaming.com/affgames/igr5861584/350x350?prod_ids=442" frameborder="0" style="border: 1px solid #ccc; border-radius: 5px; overflow:hidden; width:350px; height:350px;" allowTransparency="true"></iframe>
        </center>
        </section>
            </div>

            <div class="twelve columns play">
                <div id="about-margin"></div>
                <section>
                    <h4 class="heading-bar"><span>A propos de badblock</span></h4>
                    <div class="play-list-ip">
                        <p>
                            Badblock est un serveur Minecraft crée le 8 mars 2013 par Latitchips. Aujourd'hui, le serveur compte une impressionnante communauté composée de milliers de joueurs de tout âge. Notre équipe est à votre service afin de vous rendre le jeu meilleur et de vous divertir tout au long de votre expérience sur Badblock. Vous pouvez nous contacter par de nombreux moyens comme nos réseaux sociaux, notre Teamspeak, notre Forum ou tout simplement en jeu !
                            Toute l'équipe vous souhaite un bon moment de divertissement sur nos plateformes.
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    <script>
        var toCopy  = document.getElementById( 'to-copy' ),
            btnCopy = document.getElementById( 'copy' );

        btnCopy.addEventListener( 'click', function(){
            toCopy.select();
            document.execCommand( 'copy' );
            return false;
        } );
    </script>
{% endblock %}