{% extends "default.twig" %}
{% set active_page = "play" %}
{% set show_title = false %}
{% set title = 'play.title'|trans %}
{% set sub_title = 'play.sub_title'|trans %}
{% block content %}
    <!-- Main content -->
    <div class="eight columns play">
        <section>
            <h4 class="heading-bar"><span>{{ 'play.how_play'|trans }}</span></h4>
            <div class="play-way-ip">
                <p>{{ 'play.how_play_text'|trans }}</p>
                {% if mc_ip == "eu.badblock.fr" %}
                    <img src="/dist/images/eu.gif" class="how-to-gif">
                {% elseif mc_ip == "na.badblock.fr" %}
                    <img src="/dist/images/na.gif" class="how-to-gif">
                {% else %}
                    <img src="/dist/images/play.gif" class="how-to-gif">
                {% endif %}
            </div>
        </section>
        <section>
            <h4 class="heading-bar"><span>{{ 'play.our_ip'|trans }}</span></h4>
            <div class="play-list-ip">
                <input type="submit" value="play.badblock.fr">
                <br>
                <input type="submit" value="eu.badblock.fr">
                <br>
                <input type="submit" value="na.badblock.fr">
            </div>
        </section>
        <section>
            <h4 class="heading-bar"><span>{{ 'play.about'|trans }}</span></h4>
            <div class="play-list-ip">
                <p>
                    Badblock est un serveur Minecraft crée le 8 mars 2013 par Latitchips. Aujourd'hui, le serveur compte une impressionnante communauté composé de milliers de joueurs de tout âge. Notre équipe est à votre service afin de vous rendre le jeu meilleur et de vous divertir tout au long de votre expérience sur Badblock. Vous pouvez nous contacter par de nombreux moyens comme nos réseaux sociaux, notre Teamspeak, notre Forum ou tout simplement en jeu !

                    Toute l'équipe vous souhaite un bon moment de divertissement sur nos plateformes.
                </p>
        </section>
    </div>
    <!-- Main content fin -->

    {% include 'macros/sidebar.twig' %}

{% endblock %}