{% extends "default.twig" %}
{% set title = "Staff" %}
{% block content %}
    <!-- Main content -->
    <div class="eight columns">
        <!-- Articles pined -->

        <!-- end Articles pined -->
        <!-- Articles -->
        <div class="articles-home">
            <h4 class="heading heading-bar"><span>Le Staff</span></h4>
            <div class="mosaic">
                {% for key in owner %}
                    {{ key }}
                {% endfor %}
                {% for key in admin %}
                    {{ key }}
                {% endfor %}



            </div>
        </div>
        <!-- Articles Fin -->
    </div>
    <!-- Main content fin -->

{% endblock %}