{% extends "default.twig" %}
{% set show_title = true %}
{% set title = "Staff" %}
{% set sub_title = "Liste du staff (#{ nb } membres)" %}
{% block content %}
    <!-- Main content -->
    <div class="staff ">
        <div class="row">
    {% for key in staff %}
        <div class="six columns">
            <section>
                <h4 class="heading heading-bar"><span>{{ key['name'] }}</span></h4>
                <ul class="players-list">
                    {% for ft in key['data'] %}
                        <li>
                            <img src="https://guiria.badblock.fr/head/{{ ft[0] }}/60.png"
                                 class="players-list-avatar">
                                <div class="players-list-info">
                                    <span class="players-list-username">{{ ft[0] }}</span>
                                    <span class="players-list-summary">{{ ft[1] }}</span>
                                </div>
                            </li>
                    {% endfor %}
                    </ul>
                </section>
            </div>
    {% endfor %}

        </div>
        </div>
{% endblock %}