{% set title = 'Mettre en avant sa vidéo YouTube - BadBlock' %}
{% set description = "Mettez en avant votre vidéo YouTube dès aujourd'hui sur notre site sans plus attendre et gratuitement, sans aucun frais ni paiement." %}
{% set show_title = false %}
{% set hide_title = true %}
{% set nopromo = true %}
{% extends "default.twig" %}
{% set active_page = "youtube" %}
{% block skyscrapers %}
<div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="animated bounceInLeft">
                    <div class="row">
                        <div class="twelve columns">
                            <h2 class="cover-heading">Mettre en avant sa vidéo YouTube</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}

        <div class="twelve columns play">
            <section>
                <h4 class="heading-bar"><span>Mise en avant sur notre site</span></h4>
                <div class="play-list-ip">
                    <p>
                        Nous - BadBlock -, proposons de mettre votre vidéo YouTube en avant <b>gratuitement</b> simplement en respectant quelques conditions conformes. Cette mise en avant est acceptée ou non en fonction d'une décision administrative. Mettez en avant votre vidéo dès maintenant sans frais ni paiement pour garantir à votre vidéo une visibilité maximale sur nos plateformes.<br />
                        La page d'accueil de notre site est consultée par plus de <b>6 000 visiteurs uniques par jour</b> et BadBlock dispose d'une base de <b>30 000</b> personnes pouvant recevoir des notifications et être informé des dernières vidéos.<br /><br />
                    </p>
                </div>
            </section>
            <section>
                <h4 class="heading-bar"><span>Comment se mettre en avant ?</span></h4>
                <div class="play-list-ip">
                    <p>
                        Il suffit d'<a href="https://badblock.fr/forum/support/open">envoyer un ticket sur le forum de BadBlock</a> en nous envoyant le lien de la vidéo. Vous receverez une réponse dans les heures qui suivent la demande.
                    </p>
                </div>
            </section>
            <section>
                <h4 class="heading-bar"><span>Conditions</span></h4>
                <div class="play-list-ip">
                    <p>
                        Les conditions sont très simples et très claires :<br />
                    <ul>
                        <li>la vidéo doit être qualitative et être tournée sur une plateforme de BadBlock (TS, serveur ou site)</li>
                        <li>mettre l'IP du serveur de BadBlock, le Discord et le Site de Badblock en description</li>
                        <li>la vidéo doit être conforme au <a href="https://badblock.fr/forum/règlement">Règlement de BadBlock</a></li>
                    </ul>
                    </p>
                </div>
            </section>
            <section>
                <h4 class="heading-bar"><span>Ce que nous proposons</span></h4>
                <div class="play-list-ip">
                    <p>
                        Nous pouvons vous proposer la visibilité suivante :<br />
                        <ul>
                            <li>vidéo en page d'accueil de BadBlock (6 000 visiteurs uniques par jour)</li>
                            <li>notifications de sortie de vidéo (19 000 utilisateurs atteintes) <span style="color: red">*</span></li>
                            <li>email annexe de sortie de vidéo (150 000 personnes atteintes) <span style="color: red">*</span></li>
                            <li>notification sur le forum (3 000 personnes atteintes) <span style="color: red">*</span></li>
                            <li>messages automatiques sur le serveur (+5 000 personnes atteintes par jour) <span style="color: red">*</span></li>
                        </ul>
                        Nous mettons principalement en avant la vidéo en page d'accueil de BadBlock. Pour de plus grosses vidéos, les visibilités supplémentaires notées par un <span style="color: red">*</span> peuvent être utilisées afin de diffuser votre vidéo à notre communauté.
                    </p>
                </div>
            </section>
        </div>
    </div>
    </div>
{% endblock %}