{% extends "default.twig" %}
{% set hide_title = true %}
{% set title = 'SkyBlock Minecraft | BadBlock' %}
{% set description = 'Le SkyBlock est un mode de jeu sur Minecraft très populaire. C\'est un mode de jeu popularisé depuis déjà plusieurs années. BadBlock offre la possibilité au joueur d\'accéder à notre SkyBlock. Le joueur peut créer son île gratuitement et l\'agrandir, farmer, récolter de nouvelles ressources, découvrir les blocs et les items des nouvelles versions ainsi que les nouveaux mobs de Minecraft.' %}
{% set subtitle = post.summary %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back" style="background-image: url({{ post.cover_url }})">
        <div class="cover cover-profile">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <h2 class="cover-heading">Skyblock de BadBlock</h2>
                </div>
            </div>
            <div class="profile-info">
                <div class="container">
                    <ul>
                        <li><i class="icon icon-calendarthree"></i> Il y a peu</li>
                        <li><i class="icon icon-user"></i><span>Écrit par </span> BadBlock</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
    <div class="pub-skyscraper-right">
        <ins class="adsbygoogle" style="width:300px;height:600px" data-ad-client="ca-pub-1905923613312160" data-ad-slot="3319544517"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endblock %}
{% block content %}
    <div class="article-content">
        <p>
            Le SkyBlock est un mode de jeu sur Minecraft <strong>très populaire</strong>. C'est un mode de jeu popularisé depuis déjà plusieurs années. BadBlock offre la possibilité au joueur d'accéder à notre SkyBlock. Le joueur peut créer son île gratuitement et l'agrandir, farmer, récolter de nouvelles ressources, découvrir les blocs et les items des nouvelles versions ainsi que les nouveaux mobs de Minecraft.<br />
            Plusieurs modes sont disponibles : la <strong>compétition</strong>, ou <strong>jouer par pur plaisir</strong>. Le TOP 10 recense les 10 îles <strong>avec le plus gros niveau</strong>, avec le plus de farms, le plus de niveaux. Chaque bloc contient une valeur de niveau (de 0 à 100), et sont échangeables avec les récoltes de vos farms, depuis les différents Shop disponibles au Spawn.<br /><br />
            C'est un mode de jeu très joué et très populaire qui fait de nouveaux convaincus tous les jours. En plus de l'île et du spawn époustouflant, le serveur dispose également de deux mondes : <strong>End et Nether</strong>. Les blocs peuvent être cassés dans ces mondes et permettent l'échange dans les PNJ pour pouvoir décorer son île ou devenir le meilleur du serveur.<br /><br />
            Une mine publique est également disponible pour les nouveaux joueurs, s'ils souhaitent farmer et gagner des items et blocs pour apprendre les échanges. Il n'y a pas que le farm et la décoration : les quêtes et les challenges donnent des centaines de possibilités au joueur pour qu'il puisse continuer de s'amuser, de partir à l'aventure, de découvrir le spawn et les endroits cachés de celui-ci mais également
            de ne pas s'ennuyer en explorant toujours de nouvelles choses et en accomplissant des objectifs plus ou moins simples.<br />
        </p>
        <div class="animated bounceInLeft">
            <a class="button button-primary" href="{{ path_for('play') }}" title="Jouer à BadBlock"><i class="icon-play icon"></i> {{ 'play.title'|trans }}</a>
        </div>
    </div>
    <div class="pub-large">
        <ins class="adsbygoogle" style="display:inline-block;width:300px;height:280px" data-ad-client="ca-pub-9979868023188321" data-ad-slot="4710723291"></ins>
        <script async>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
{% endblock %}
{% block scripts %}
<script type="application/javascript">
    $.ajax({url: "/api/post/comments/{{ post.uuid }}", success: function(result){
        $("#comments").html(result);
        $('#comments-loading').fadeOut();
    }});
</script>
{% endblock %}