{% extends 'default.twig' %}
{% set title = 'Voter !'|trans %}
{% set sub_title = ''|trans~user.username %}
{% set show_title = false %}
{% block cover %}
    <!------Cover------>
    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column">
                    <h4 class="cover-heading">Voter pour soutenir le serveur !</h4>
                </div>
            </div>
        </div>
    </div>
    <!------Cover fin------>
{% endblock %}
{% block content %}
    <section>
        <div class="vote">
    <div class="nothing">
        <div id="step1" class="step step-first four columns">
            <center><h3 class="step-round">I</h3>
            <div class="step-contains">
                <h5 class="text-center">Choisissez un Site</h5>
                <a class="button button-primary" onclick="step('rpg')" style="width: 95%;">RPG Paradize (3H)</a>
                <a class="button button-primary" onclick="step('msf')" style="width: 95%;">Serveur-Prive.net (1H30)</a>
            </div>
            </center>
        </div>
        <div id="step2" class="step step-two four columns disabled">
            <center><h3 class="step-round">II</h3>
            <div class="step-contains">
                <h5 class="text-center">Entrez votre pseudo</h5>
                    <input type="text" id="pseudo" name="pseudo"><br>
                    <a class="button button-primary" onclick="step('go')" style="width: 95%;">Valider</a>
            </div>
            </center>
        </div>
        <div class="step step-three four columns">
            <center><h3 class="step-round">III</h3>
            <div class="step-contains">
                <h5 class="text-center">Obtenez votre récompense</h5>
                <button class="button button-primary" id="lot1" onclick="loterie('1')" href="" style="width: 95%;">Loterie n°1</button>
                <button class="button button-primary" id="lot2" onclick="loterie('2')" href="" style="width: 95%;">Loterie n°2</button>
                <button class="button button-primary" id="lot3" onclick="loterie('3')" href="" style="width: 95%;">Loterie n°3</button>
                <button class="button button-primary disabled" id="step3" onclick="bank()" id="bank" style="width: 95%;">Placer en banque</button>
            </div>
            </center>
        </div>
        <h3 class="text-center">Les Meilleurs votants !</h3>
        <p class="text-center">Retrouvez chaque mois le classement des meilleurs votants de BadBlock !</p>
        <button class="accordion">Les récompenses</button>
        <div class="panel">
          <table class="u-full-width">
              <thead>
                <tr>
                  <th>Récompense</th>
                  <th>% chance</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1 Bronze</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>2 Bronze</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>1 Gold</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
        </div>

        <table class="votes">
                <thead>
                    <tr>
                        <td>Joueur</td>
                        <td>Votes</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class='vote1'>
                    <td><span>1</span></td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=braydawg4202" alt="avatar-braydawg4202" /> braydawg4202</td>
                    <td>175</td>
                </tr>
                    <tr class='vote2'>
                    <td><span>2</span></td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=Puepsu" alt="avatar-Puepsu" /> Puepsu</td>
                    <td>171</td>
                </tr>
                    <tr class='vote3'>
                    <td><span>3</span></td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=KanekiSama" alt="avatar-KanekiSama" /> KanekiSama</td>
                    <td>170</td>
                </tr>
                                    <tr>
                    <td>4</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=petit_billy" alt="avatar-petit_billy" /> petit_billy</td>
                    <td>170</td>
                </tr>
                                    <tr>
                    <td>5</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=swaggoat11" alt="avatar-swaggoat11" /> swaggoat11</td>
                    <td>168</td>
                </tr>
                                    <tr>
                    <td>6</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=zone_killer" alt="avatar-zone_killer" /> zone_killer</td>
                    <td>167</td>
                </tr>
                                    <tr>
                    <td>7</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=Soul_Le_Fou" alt="avatar-Soul_Le_Fou" /> Soul_Le_Fou</td>
                    <td>146</td>
                </tr>
                                    <tr>
                    <td>8</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=FrostKingFR" alt="avatar-FrostKingFR" /> FrostKingFR</td>
                    <td>139</td>
                </tr>
                                    <tr>
                    <td>9</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=Fasory" alt="avatar-Fasory" /> Fasory</td>
                    <td>134</td>
                </tr>
                                    <tr>
                    <td>10</td>
                    <td><img src="https://nationsglory.fr/utilitaire/face_renderer.php?size=40&name=RoiSalamandre" alt="avatar-RoiSalamandre" /> RoiSalamandre</td>
                    <td>134</td>
                </tr>

                            </tbody>
        </table>
    </div>
</div>

    </section>
    <!-- Reg Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-user">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vous devez vous enregistrer sur le Forum de BadBlock pour voter !</h1>
        <a class="button button-danger" href="https://forum.badblock.fr/inscription/"><i class="icon-repeat"></i>S'inscrire !</a>
    </div>
    <!-- Reg modal -->
    <!-- Time Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-time">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Vous devez attendre pour voter !</h1>
        <a class="button button-danger" href="/vote"><i class="icon-repeat"></i>Retour</a>
    </div>
    <!-- Time modal -->

    <!-- Out Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-out">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Cliquer sur le lien pour voter !</h1>
        <a class="button button-danger" id="vote-link" target="_blank" href="" onclick="$('#rpg-vote').removeClass('disabled'); "><i class="icon-repeat"></i>Voter sur RPG-Paradize</a>
        <div class="step-contains center">
            <h5 class="text-center">Entrer le nombre de clics sortant :</h5>
            <input type="text" id="outvote" name="outvote"><br>
            <a class="button button-primary disabled" id="rpg-vote" onclick="step('out')" style="width: 95%;">Valider</a>
        </div>
    </div>
    <!-- Out modal -->

    <!-- Link Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-link">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title">Cliquer sur le lien pour voter !</h1>
        <a class="button button-danger" id="vote-link2" target="_blank" href="" onclick="vote"><i class="icon-repeat"></i>Voter !</a>
        <br>
        <a class="button button-primary" onclick="step('out')" style="width: 95%;">Valider</a>
    </div>
    <!-- Link modal -->

    <!-- Error out Modal -->
    <div class="remodal modal-remodal" data-remodal-id="error-vote-link">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="time-title" class="icon-danger">Nombre de clics sortants incorrect !</h1>
        <div class="step-contains center">
            <h5 class="text-center">Entrer le nombre de clics sortant (OUT) :</h5>
            <input type="text" id="outvoter" name="outvoter"><br>
            <a class="button button-primary" onclick="step('out')" style="width: 95%;">Valider</a>
        </div>
    </div>
    <!-- Error out Modal -->

    <!-- End Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-end">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Merci de votre soutiens !</h1>
        <h1 id="end-tt"></h1>
        <a class="button button-danger" href="#"><i class="icon-repeat"></i>Fermer</a>
    </div>
    <!-- End modal -->

    <!-- Bank Modal -->
    <div class="remodal modal-remodal" data-remodal-id="vote-bank">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1>Vos bronze(s) ont bien été placé en banque !</h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Bank modal -->

    <!-- Bronze Modal -->
    <div class="remodal modal-remodal" data-remodal-id="bronze-modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="bronze-title"></h1>
        <a class="button button-danger" href="#"><i class="icon-closetab"></i>Fermer</a>
    </div>
    <!-- Bronze modal -->


    <script>
        var vote;
        var pseudo;
        var error = false;

        function  bank() {
            $('[data-remodal-id=vote-bank]').remodal().open();
            $("#step3").addClass("disabled");
            $("#lot1").addClass("disabled");
            $("#lot2").addClass("disabled");
            $("#lot3").addClass("disabled");
            $("#bank").addClass("disabled");
        }

        function step(type) {
            $("#step2").removeClass("disabled");
            $("#step1").addClass("disabled");
            if (type == "rpg"){
                vote = "rpg";
            }else if (type== "msf"){
                vote = "msf";
            }else if (type== "go"){
                if($('#pseudo').val() == "" || $('#pseudo').val() == null) {
                }else{
                    $("#step2").addClass("disabled");
                    pseudo = $('#pseudo').val();
                    //requet if user exist
                    var request = $.ajax({
                        url: "/vote/check/",
                        method: "POST",
                        data: { pseudo : $('#pseudo').val(),
                                vote : vote
                        },
                        dataType: "html",
                        success: function (data) {
                            if (vote == "rpg"){
                                $("#vote-link").attr("href", data);
                                $('[data-remodal-id=vote-out]').remodal().open();
                            }else if (vote == "msf"){
                                $("#vote-link2").attr("href", data);
                                $('[data-remodal-id=vote-link]').remodal().open();
                            }
                        }
                    });

                    request.fail(function( jqXHR, msg ) {
                        if(jqXHR.status == 404){
                            $('[data-remodal-id=vote-user]').remodal().open();
                        }else if (jqXHR.status == 405){
                            $("#time-title").text("Vous devez attendre " + jqXHR.responseText +" pour voter !");
                            $('[data-remodal-id=vote-time]').remodal().open();
                        }
                    });
                }
            }else if (type== "out"){
                if (vote == "rpg"){
                    if($('#outvote').val() == "" || $('#outvote').val() == null) {
                    }else{
                        $("#step2").addClass("disabled");
                        if (error){
                            out = $('#outvoter').val()
                        }else{
                            out = $('#outvote').val()
                        }
                        var request = $.ajax({
                            url: "/vote/end/rpg",
                            method: "POST",
                            data: { out : out,
                                    pseudo : pseudo
                            },
                            dataType: "html",
                            success: function (data) {
                                $("#end-tt").text("Vous avez gagner " + data +" bronze(s)");
                                $('[data-remodal-id=vote-end]').remodal().open();
                                $("#step3").removeClass("disabled");

                            }
                        });

                        request.fail(function( jqXHR, msg ) {
                            if (jqXHR.status == 405){
                                $('[data-remodal-id=error-vote-link]').remodal().open();
                                error = true;
                            }else if (jqXHR.status == 403){
                                $("#end-tt").text("Vous avez gagner " + jqXHR.responseText +" bronze(s)");
                                $('[data-remodal-id=vote-end]').remodal().open();
                                $("#step3").removeClass("disabled");
                                $("#lot1").addClass("disabled");
                                $("#lot2").addClass("disabled");
                                $("#lot3").addClass("disabled");
                            }
                        });
                    }
                }else{
                    $("#step2").addClass("disabled");

                    var request = $.ajax({
                        url: "/vote/end/msf",
                        method: "POST",
                        data: {pseudo : pseudo},
                        dataType: "html",
                        success: function (data) {
                            $("#end-tt").text("Vous avez gagner " + data +" bronze(s)");
                            $('[data-remodal-id=vote-end]').remodal().open();
                            $("#step3").removeClass("disabled");

                        }
                    });

                    request.fail(function( jqXHR, msg ) {
                        if (jqXHR.status == 405){
                            $('[data-remodal-id=error-vote-link]').remodal().open();
                            error = true;
                        }else if (jqXHR.status == 403){
                            $('[data-remodal-id=login-modal]').remodal().open();
                        }
                    });
                }
            }
        }

        function loterie(type){
            var request = $.ajax({
                url: "/vote/loterie/" + type,
                method: "POST",
                data: {pseudo : pseudo},
                dataType: "html",
                success: function (data) {
                    $("#bronze-title").text("Vous avez gagner " + data +" !");
                    $('[data-remodal-id=bronze-modal]').remodal().open();
                }
            });

            request.fail(function( jqXHR, msg ) {
                if (jqXHR.status == 404){
                    $("#bronze-title").text("Il vous manque " + jqXHR.responseText +" bronze(s) pour cette lotterie !");
                    $('[data-remodal-id=bronze-modal]').remodal().open();

                }else if (jqXHR.status == 403){
                    $('[data-remodal-id=login-modal]').remodal().open();
                }
            });
        }


    </script>

{% endblock %}

