.img1 {
  margin-top: -20px;
}

.header {
  .header-logo {
    width: 40%;
  }
  .header-login-container {
    display: none;
  }
}

.card {
  margin-top: 3px;
}

.articlesuiv {
  margin-top: -10px;
}

#pagetitle-container {
  height: 150px;
}
