.topnav a:not(:first-child) {
  display: none;
  border: 0;
}

.topnav a, .topnav a.actived {
  border: 0;
}

.topnav a:not(:first-child), .topnav a.actived:not(:first-child) {
  width: 100% !important;
  float: left !important;
  border: 0;
}

.topnav .menu-button .topnav.responsive .menu-button {
  border-top: 3px solid #ddd;
}

.topnav.responsive a {
  border: 0;
}

.topnav a.menu-button {
  width: auto !important;
  float: right;
  display: block;
}

.topnav.responsive {
  position: relative;
}

.topnav a.menu-button{
  position: absolute;
  padding-top: 13px;
  right: 0;
  top: 0;
  i {
    font-size: 1.4em;
    margin-right: 0;
    width: 35px;
    height: 50px;
  }
}

.topnav.responsive a {
  display: flex;
  text-align: left;
}

.topnav.responsive a.menu-button {
  display: block;
}

.topnav .container {
  padding: 0 !important;
}