/*
Cards
 */
.mosaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  height: 460px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-bottom: 30px;
  width: 350px;
}

.card.card-second {
  width: 230px;
  height: 380px;

  .card-thumb {
    height: 150px;
  }

  .card-subtitle {
    font-size: 0.9em;
  }

  .button {
    margin-top: 1em;
  }

}

.card.card-second:hover .card-thumb {

  height: 80px;
}
.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.card-satus {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
  padding-top: 10px;
  color: #fff;
  line-height: 1;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #3498db;
  border-radius: 50%;
  text-transform: uppercase;
  display: block;
}
/*
.card-satus-day {
  display: block;
  font-size: 14px;
}

.card-satus-month {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
}*/

.card-thumb {
  .img {
    background-color: #F1F1F1;
    width: 100%;
    height: 235px;
    background-size: cover;
  }
  height: 235px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s;
}

.card-thumb img {
  display: block;
  opacity: 1;
  transition: opacity 0.3s, transform 0.3;
  transform: scale(1);
}

.card:hover .card-thumb {
  height: 90px;
}

.card-body {
  position: relative;
  padding: 20px;
  height: 185px;
  transition: height 0.3s;
}

.card:hover .card-body {
  height: 330px;
}

.card-title {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  transition: all 0.3s;
}

.card:hover .card-title {
  animation: titleBlur 0.3s;
}

.card-subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1em;
  color: #3498db;

  a {
    .icon {
      margin-right: 3px;
    }
    margin-right: 8px;
  }
}

.card:hover .card-subtitle {
  animation: subtitleBlur 0.3s;
}

.card-description {
  position: absolute;
  left: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  color: #666C74;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
  transition-delay: 0s;
  transform: translateY(25px);
}

.card:hover .card-description {
  opacity: 1;
  transition-delay: 0.1s;
  transform: translateY(0);
}

@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px transparent;
  }
}

@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0px 5px 5px rgba(52, 152, 219, 0.6);
  }

  100% {
    opacity: 1;
    text-shadow: 0px 5px 5px rgba(239, 90, 49, 0);
  }
}


/**
Card plus
 */
.card-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .card-plus-text {
    font-size: 1.5em;
  }
  .icon {
    font-size: 2em;
  }
}