.container {
  max-width: 60% !important;
}

@media (max-width: 1600px){
  .container {
    width: 80% !important;
    max-width: 80% !important;
  }
}


@media (max-width: 1400px){
  .container {
    width: 83% !important;
    max-width: 85% !important;
  }
}

@media (max-width: 1350px){
  .container {
    width: 90% !important;
    max-width: 90% !important;
  }
}

@media (max-width: 700px){
  .container {
    width: 90% !important;
    max-width: 90% !important;
  }
}

@media (max-width: 500px){
  .container {
    width: 95% !important;
    max-width: 95% !important;
  }
}