/* Cover */
.cover-back {
  background-image: url('img/cover-back-1.png');
}

.cover {
  background-color: rgba(78, 101, 135, 0.5);
  padding-top: 50px;
  padding-bottom: 50px;

  .cover-heading {
    color: white;
  }
}

.button-primary {
  border-radius: 1px;
}
/**
End cover
 */
