.dropdown {
  a {
    height: 2.5em;
  }
  ul {
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: #2c3e50;

    li a {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  li {
    list-style-type: none;
  }
}

.dropdown-dropdown {
  li {
    margin-bottom: 0;
  }
}