.scrollToTop{
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;
  background: #2c3e50;
  color: #FFF;
  text-decoration: none;
  position:fixed;
  bottom: 75px;
  right: 75px;
  display:none;
  border-radius: 10px;
  z-index: 9999;

  .icon {
    font-size: 1.6em;
    margin: 0;
    color: white;
  }
}
.scrollToTop:hover, .scrollToTop:focus{
  color: #F1F1F1;
}