#pagetitle-container {
   width: 100%;
   margin: 0 auto 10px auto;
   padding: 18px 0 0 0;
   border-bottom: 1px solid #dadada;
   -webkit-box-shadow: 0px 3px 0px 0px rgba(64, 64, 64, 0.1);
   -moz-box-shadow: 0px 3px 0px 0px rgba(64, 64, 64, 0.1);
   box-shadow: 0px 3px 0px 0px rgba(64, 64, 64, 0.1);
   height: 100px;

   .row .twelve {
     width: 100%;
   }

   h1 {
     margin-bottom: 6px;
     font-weight: 700;
     color: #3b5166;
     font-size: 30px;
   }

   h3 {
     margin-bottom: -3px;
     color: #909090;
     font-size: 26px;
   }

  .breadcrumb {
    float: none !important;
  }

   .breadcrumb ul {
     background-color: #fff;
     margin-top: 17px;
     padding: 0 6px 0 8px;
     float: right;
   }

   .breadcrumb ul li {
     font-size: 12px;
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: normal;
     color: #bbb;
     padding-right: 6px;
     padding-left: 6px;
     display: inline-block;
     margin-top: 0;
     margin-bottom: 0 !important;
   }

   .breadcrumb ul li a, .breadcrumb ul li a:visited {
     color: #bbb;
     text-decoration: none;
   }

   .breadcrumb ul li.current-page a, .breadcrumb ul li.current-page a:visited {
     color: #1abc9c;
     text-decoration: none;
   }
 }

