.profile-title {
  margin-left: 16px !important;
  display: flex;

  div {
    margin-right: 2em;
  }
}

.cover-profile {
  padding-bottom: 0.3em;
  .profile-mc-head {
    img {
      width: 110px;
      height: 110px;
    }
  }
  .cover-heading {
    margin-bottom: 0.4em !important;
    background-color: transparent;
  }
  .badge {
    font-size: 1em;
  }
}

.profile-stats {
  h3 {
    margin-top: 1em;
  }
  table {
    tr {
      td:first-of-type{
        width: 100%;
      }
    }
  }
}

.profile-info {

  margin-left: 16px !important;
  padding-top: 2em;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    li {
      font-size: large;
      color: #FFFFFF;
      list-style-type: none;
      margin-right: 1.2em;

      span {
        opacity: 0.5;
      }

      .icon {
        opacity: 0.9;
        margin-right: 5px;
      }
    }
  }

  //.profile-info-content {
  //  color: white;
  //  padding-left: 1em;
  //  padding-right: 1em;
  //  border-radius: 10px;
  //  padding-top: 20px;
  //  padding-bottom: 20px;
  //  margin-bottom: 1em;
  //
  //  .profile-info-content-title {
  //    font-size: 1.3em;
  //  }
  //
  //  hr {
  //    width: 70%;
  //    border-top: 2px solid #E1E1E1;
  //    //margin: 0 auto;
  //    margin-top: 0.5em;
  //    margin-bottom: 0.5em;
  //  }
  //}
  //
  //.level-container {
  //  background-color: #3498db;
  //}
  //
  //.xp-container {
  //  background-color: #2C3E50;
  //}
  //
  //.locale-container {
  //  background-color: #8e44ad;
  //}
}

.profile-stats {
  .game-title {
    .badge {
      font-size: small;
    }
  }
}