.recharge-content {
  margin-top: 3em;

  .recharge-next {
    float: right;
    margin-top: 1em;
  }
}

.recharge-list {
  .c-card__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .recharge-action {
    float: right;
    .button {
      margin-bottom: 0;
    }
  }
  .recharge-price {
    margin-left: 10px;
  }
  .recharge-chose-custom {
    margin: 0;
  }
  .recharge-chose-field {
    margin-right: 1em;
  }
}

.recharge-payway-list {
  margin-top: 3em;

  .c-button {
    color: #ffffff;
  }
}