/**
Rechargement (pub)
 */
.recharge-back {
  margin-top: 2.5em;
  margin-bottom: -0.9em;
  background-image: url('img/cover-back-1.png');
  background-color: #F1F1F1;
  background-size: cover;
  background-color: #2c3e50;
}

.recharge-container {
  .container:after {
    display: none;
  }
  background-color: rgba(78, 101, 135, 0.6);

  .recharge-content {
    margin-top: 3em;
    .recharge-flex {
      padding-top: 3em;
      padding-bottom: 3em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //flex-wrap: wrap;
    }
    .recharge-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      img {
        width: 100px;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        margin-right: 1em;
      }
    }
  }
}

/**
Shop menu
 */

.shop-menu {
  margin-bottom: 2em;
  border: 1px solid rgba(136, 136, 136, 0.2);
  border-radius: 6px;
  .shop-menu-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 0;
    li {
      font-size: 1.1em;
      font-weight: bold;
      list-style-type: none;
      padding: 10px;
      //padding-top: 15px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 0;

      a {
        color: $color-sub-text;
      }
    }
    .shop-menu-active {
      border-bottom: 3px solid $color-primary;

      a {
        color: $color-main-text;
      }
    }
  }
}

.shop-section {
  margin-top: 4em;
  margin-bottom: 5em;
}

.product-list {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  .product-item {
    margin-right: 50px;
    padding: 10px;
    border: 1px solid rgba(136, 136, 136, 0.2);

    .product-title {
      margin-bottom: 0;
      padding-bottom: 0;
      text-align: center;
    }
    .product-image {
      text-align: center;
      padding: 20px;
      padding-left: 30px;
      padding-right: 30px;
      img {
        width: 140px;
      }
    }

    .product-price {
      position: absolute;
      font-size: 1.1em;
      font-weight: bold;
      /* bottom: 70px; */
      background: rgba(255, 255, 255, 0.69);
      border: 1px solid rgba(216, 215, 215, 0.49);
      width: 60px;
      height: 60px;
      /* left: 10px; */
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-left: 10px;
      margin-bottom: 70px;
      margin-top: -80px;
    }

    .product-footer {
      display: flex;
      .product-action {
        width: 100%;
        button {
          width: 100%;
          height: 100%;
          padding-left: 20px;
          padding-right: 20px;
          float: right;
        }
      }
      .product-price {
        font-size: 1.2em;
        text-align: center;
        width: 20%;
        margin: 10px;
      }
    }
  }
}

.shop-summary {
  display: flex;
  margin-bottom: 2em;
  font-size: 0.9em;
  color: gray;

  .shop-summary-icon {
    margin-right: 10px;
  }
}

.no-link.c-button.c-button--block.c-button--error {
  color: white !important;
}