.sidetexte {
  input {
    border-radius: 1px;
    width: 100%;
  }

  input:first-of-type {
    margin-top: 1em;
  }

  .button, .button-primary {
    margin-top: 1em;
    width: 100%;
  }
  .side-item:first-of-type {
    padding: 0;
  }
  .side-item {
    text-align: center;
    padding-top: 1.5em;
  }
}

.sidebar-social-links {
  padding-top: 0.4em;
  display: flex;
  li {
    list-style-type: none;
    margin-right: 0.7em;
    font-size: 1.5em;
    a {
      text-decoration: none;
      color: #333333;
      font-weight: normal;
      transition: 0.2s opacity;
    }
    a:before {
      display: none;
    }
    a:hover {
      opacity: 0.8;
      transition: 0.2s opacity;
    }
  }
}

.motd img{
  width: 298px;
  height: 57px;
}
