.stats-back {
  margin-top: 5em;
  background-image: url('img/cover-back-1.png');
  background-size: cover;
}

.stats {
  color: white;
  font-size: 1.5em;
  line-height: 45px;
  color: #f4f4f4;
  font-weight: 300;
  background-color: rgba(78, 101, 135, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;

  .colored-icon {
    margin-right: 10px;
  }
}