.stats-panel {
  .item {
    border: 1px solid #dadada;
    border-radius: 0.2em;
    padding: 2em;
  }
  .stats-panel-metric {
    display: flex;
    flex-direction: column;
    text-align: center;
    .metric {
      font-weight: 600;
      font-size: 2em;
    }
    .text {
      opacity: 0.8;
    }
  }
}