{% extends 'default.twig' %}
{% set active_page = "stats" %}
{% set show_title = true %}
{% set title = "Statistiques" %}
{% set sub_title = "Sur le serveur" %}
{% block cover %}
    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">

    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <button class="button-games" type="submit" id="tower"><span>Tower</span></button>
                    <button class="button-games" type="submit" id="rush">Rush</button>
                    <button class="button-games" type="submit" id="survival">Survival</button>
                    <button class="button-games" type="submit" id="uhc_speed">UHC Speed</button>
                    <button class="button-games" type="submit" id="peal_wars">Pearl Wars</button>
                    <button class="button-games" type="submit" id="spaceballs">SpaceBalls</button>
                    <button class="button-games" type="submit" id="capture_the_sheep">Capture The Sheep</button>
                </div>
                <div class="one-half column animated bounceInLeft">
                    <div class="search-container">
                        <div class="games-info">
                            <div class="search-container">
                                <form action="/action_page.php">
                                    <label>Rechercher un Joueur</label>
                                    <input class="u-middle-width" type="text" placeholder="Recherchez un joueur" name="search">
                                    <button class="button-search" type="submit"><!--Recherche--><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="animated">
                        <a class="button button-primary" href="/play"><i class="icon-play icon"></i> Jouer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Générales</span></h4>
                <div class="col-3">
                    <a href="#player-modal"><h3 id="players-count">1 555 555</h3>
                        <p>Joueurs connectés</p></a>
                </div>
                <div class="col-3">
                    <a href="#account-modal"><h3>17 000</h3>
                        <p>Joueurs inscrits</p></a>
                </div>
                <div class="col-3">
                    <a href="#ban-modal"><h3>5</h3>
                        <p>Joueurs Bannis</p></a>
                </div>
                <div class="col-3">
                    <a href="#player-active-modal"><h3>1 432 652</h3>
                        <p>Joueurs Mute</p></a>
                </div>
                <div class="col-3">
                    <a href="#followers-modal"><h3>55</h3>
                        <p>Membres du Staff</p></a>
                </div>
                <div class="col-3">
                    <a href="#line-modal"><h3>10.E17</h3>
                        <p>Nombre de lignes codées par Hooki</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="info-stats">
            <h4 class="heading heading-bar"><span>Informations sur les Statistiques</span></h4>
            <h5><span class="bold">BOLD</span> tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo, quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur imperium, ut cupiebat, et cunctum.</h5>

            <h5>Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati sumus.</h5>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        function players() {
            console.log('players loading');
            //Get players
            $.getJSON('https://api.badblock.fr/public/servers-status/check.php?host=play.badblock.fr&port=25565', function(data) {
                if (data.players.online == 0){
                    var message = Aucun
                }
                if (data.players.now == 1){
                    var message = data.players.online
                }
                if (data.players.now > 1){
                    var message = data.players.online
                }
                $('#players-count').html(message);

                console.log('players online: ' + message);
            });
        }

        players(); // This will run on page load
        setInterval(function(){
            players() // this will run after every 5 seconds
        }, 2000);
    </script>
{% endblock %}