{% extends 'default.twig' %}
{% set active_page = "stats" %}
{% set show_title = false %}
{% set title = "Statistiques" %}
{% set sub_title = "Sur le serveur" %}
{% block cover %}
    <link rel="stylesheet" type="text/css" href="/dist/css/global.css">

    <div class="cover-back">
        <div class="cover">
            <div class="container">
                <div class="one-half column animated bounceInLeft">
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="tower"><span>Tower</span></button>
                    <button class="button-games" onclick="location.href='/stats/all/rush/'" id="rush">Rush</button>
                    <button class="button-games" onclick="location.href='/stats/all/survival/'" id="survival">Survival</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="uhc_speed">UHC Speed</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="peal_wars">Pearl Wars</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="spaceballs">SpaceBalls</button>
                    <button class="button-games" onclick="location.href='/stats/all/Tower/'" id="capture_the_sheep">Capture The Sheep</button>
                </div>
                <div class="one-half column animated bounceInLeft">
                    <div class="search-container">
                        <div class="games-info">
                            <div class="search-container">
                                <form action="/action_page.php">
                                    <label>Rechercher un Joueur</label>
                                    <input class="u-middle-width" type="text" placeholder="Recherchez un joueur" name="search">
                                    <button class="button-search" type="submit"><!--Recherche--><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="animated">
                        <a class="button button-primary" href="/play"><i class="icon-play icon"></i> Jouer</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container content">
        <div class="twelve columns">
            <div class="stats-home">
                <h4 class="heading heading-bar"><span>Statistiques Générales</span></h4>
                <div class="col-3">
                    <a href="#player-modal"><h3 id="players-count">0</h3>
                        <p>Joueurs connectés</p></a>
                </div>
                <div class="col-3">
                    <a href="#account-modal"><h3>17 000</h3>
                        <p>Joueurs inscrits</p></a>
                </div>
                <div class="col-3">
                    <a href="#ban-modal"><h3>5</h3>
                        <p>Joueurs Bannis</p></a>
                </div>
                <div class="col-3">
                    <a href="#player-active-modal"><h3>1 432 652</h3>
                        <p>Joueurs Mute</p></a>
                </div>
                <div class="col-3">
                    <a href="#followers-modal"><h3>55</h3>
                        <p>Membres du Staff</p></a>
                </div>
                <div class="col-3">
                    <a href="#line-modal"><h3>10.E17</h3>
                        <p>Nombre de lignes codées par Hooki</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="info-stats">
            <h4 class="heading heading-bar"><span>Informations sur les Statistiques</span></h4>

            <h5>Les statistiques d'un serveur en disent long sur celui-ci. C'est pourquoi nous avons choisi de les rendre publiques. Pas toutes évidemment mais vous pouvez consulter les statistiques générales sur cette page, ou alors celles des joueurs de Badblock via l'onglet prévu à cet effet.
                Les classements des jeux sont également disponibles et vous permettent de savoir votre position ce mois-ci, et depuis la mise en place de ceux-ci.
                Les statistiques sont mises à jour tous les <b>30 minutes automatiquement</b> .
                Bon jeu sur nos plateformes.</h5>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
        function players() {
            $.getJSON('/api/minecraft/players', function(data) {

                $('#players-count').html(data.now);

            });
        }

        players(); // This will run on page load
        setInterval(function(){
            players() // this will run after every 5 seconds
        }, 2000);
    </script>
{% endblock %}